{% extends "../base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/contacto.css">
<link rel="stylesheet" href="/static/css/profile/profile.css">
{% end %}
{% block body %}
<div class="contenedor-contacto-form conditions-titulos user-page">
    <div class="datos-usuario">
        <h1 >Datos de usuario</h1>
        <div class="margen">
            <div class="campo">
                <p>Julian</p>
            </div>
            <button class="btn_left">Cambiar contraseña</button>
        </div>
    </div>
    <!-- div class="datos-compra">
        <h1 >Datos de compra</h1>
        <div class="margen">
            <div class="campo">
                <strong>Nombre</strong>
                <p>Julian</p>
            </div>
            <div class="campo">
                <strong>Apellido</strong>
                <p>larrea</p>
            </div>
            <div class="campo">
                <strong>Correo</strong>
                <p>julian@gmail.com</p>
            </div>
            <div class="campo">
                <strong>Rut</strong>
                <p>16.323.861-6</p>
            </div>
            <button>Editar</button>
        </div>
        <div>
            <input required type="text" class="form-control" id="InputLastName" name="lastname" placeholder="Nombre" value>
            <input required type="text" class="form-control" id="InputLastName" name="lastname" placeholder="Apellido" value>
            <input required type="text" class="form-control" id="InputLastName" name="lastname" placeholder="Correo" value>
            <input required type="text" class="form-control" id="InputLastName" name="lastname" placeholder="rut" value>
            <button>Eliminar</button>
            <button>Guardar</button>
        </div>
    </div> -->
    <h1 >Direcciones</h1>
    <div class="user-direcciones">
        <div>
            <p>Nombre dirección</p>
        </div>
        <div>
            <p>direccion</p>
            <p>Comuna</p>
            <p>Ciudad</p>
            <p>codigo postal</p>
            <p>telefono</p>
            <button>Eliminar</button>
            <button>Editar</button>
        </div>
    </div>
    
    <div class="user-direcciones">
        <button class="btn_left">AGREGAR DIRECCIONES</button>
    </div>
    <div class="user-direcciones">
        <div>
            <input required type="text" class="form-control" id="InputLastName" name="lastname" placeholder="nombre dirección" value>
        </div>

        <div>
            <input required type="text" class="form-control" id="InputLastName" name="lastname" placeholder="Direccion" value>
            <input required type="text" class="form-control" id="InputLastName" name="lastname" placeholder="Comuna" value>
            <input required type="text" class="form-control" id="InputLastName" name="lastname" placeholder="Ciudad" value>
            <input required type="text" class="form-control" id="InputLastName" name="lastname" placeholder="Codigo postal" value>
            <input required type="text" class="form-control" id="InputLastName" name="lastname" placeholder="Telefono" value>
            <button>Eliminar</button>
            <button>Guardar</button>
        </div>
    </div>
</div>
{% end %}