{% extends "../base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/profile/profile.css">
{% end %}
{% block body %}
<div class="contenedor-contacto-form conditions-titulos user-page">
    <div class="datos-usuario">
        <h1 >Datos de usuario</h1>
        <div class="margen">
            <div class="campo">
                <p>{{current_user["name"]}}</p>
            </div>
            <button class="btn-left btn-cambiar-contrasena">Cambiar contraseña
            </button>
        </div>
        <div class="margen formulario-contrasena">
            <form class="cambiar-contrasena">
                <input type="password" class="form-control" id="oldpass" name="oldpass" placeholder="Contraseña Actual">
                <input type="password" class="form-control" id="newpass" name="newpass" placeholder="Contraseña Nueva">
                <input type="password" class="form-control" id="confirmpass" name="confirmpass" placeholder="Confirmar Nueva Contraseña">
                <button class="btn-cancelar-cambio-contrasena">Cancelar</button>
                <button class="btn-guardar-contrasena">Guardar</button>
            </form>
        </div>
    </div>
    <h1 >Contacto</h1>
    <table style="width:100%">
        <tr>
            <th>Nombre dirección</th>
            <th>Direccion</th>
            <th>Comuna</th>
            <th>Ciudad</th>
            <th>Codigo Postal</th>
            <th>Telefono</th>
        </tr>
        {% for c in contactos %}
        <tr class="contactos" id-contacto="{{c["id"]}}">
            <td id="name-{{c["id"]}}">{{c["name"]}}</td>
            <td id="address-{{c["id"]}}">{{c["address"]}}</td>
            <td id="town-{{c["id"]}}">{{c["town"]}}</td>
            <td id="city-{{c["id"]}}" id-ciudad="{{c["city_id"]}}">{{c["city"]}}</td>
            <td id="zip-code-{{c["id"]}}">{{c["zip_code"]}}</td>
            <td id="telephone-{{c["id"]}}">{{c["telephone"]}}</td>
            <td><button class="btn-editar-contacto">Editar</button></td>
            <td><button class="btn-eliminar-contacto">Eliminar</button></td>
        </tr>
        {% end %}
        <tr class="formulario-contacto">
            <form class="editar-contacto">
                <input type="hidden" id="id-contacto" name="id-contacto">
                <td><input required type="text" id="name" name="name" placeholder="Nombre"></td>
                <td><input required type="text" id="address" name="address" placeholder="Direccion"></td>
                <td><input required type="text" id="town" name="town" placeholder="Comuna"></td>
                <td>
                    <select required id="city" name="city">
                        <option value="">Seleccione</option>
                        {% for c in ciudades %}
                        <option value="{{c["id"]}}">{{c["name"]}}</option>
                        {% end %}
                    </select>
                </td>
                <td><input required type="text" id="zip-code" name="zip_code" placeholder="Codigo Postal"></td>
                <td><input required type="text" id="telephone" name="telephone" placeholder="Telefono"></td>
                <td><button class="btn-guardar-contacto">Guardar</button></td>
                <td><button class="btn-cancelar-editar-contacto">Cancelar</button></td>
            </form>
        </tr>
    </table>
    <!-- <div class="user-direcciones">
        <button class="btn-left btn-agregar-direccion">AGREGAR DIRECCIONES</button>
    </div> -->
    <!-- <div class="user-direcciones">
        <form class="agregar-contacto">
            <input required type="text" id="name" name="name" placeholder="Nombre">
            <input required type="text" id="address" name="address" placeholder="Direccion">
            <input required type="text" id="town" name="town" placeholder="Comuna">
            <select required id="city" name="city">
                <option value="">Seleccione</option>
                {% for c in ciudades %}
                <option value="{{c["id"]}}">{{c["name"]}}</option>
                {% end %}
            </select>
            <input required type="text" id="zip-code" name="zip_code" placeholder="Codigo Postal">
            <input required type="text" id="telephone" name="telephone" placeholder="Telefono">
            <button class="btn-guardar-contacto">Guardar</button>
            <button class="btn-cancelar-editar-contacto">Cancelar</button></td>
        </form>
    </div> -->
</div>
{% end %}

{% block javascript %}
<script src="/static/js/profile/profile.js"></script>
{% end %}