{% extends "../base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/profile/profile.css">
{% end %}
{% block body %}
<div class="contenedor-contacto-form conditions-titulos user-page">
    <div class="datos-usuario">
        <h1 >Datos de usuario</h1>
        <div class="margen">
            <div class="campo">
                <p>{{current_user["name"]}}</p>
            </div>
            <button class="btn-left btn-cambiar-contrasena">Cambiar contraseña
            </button>
        </div>
        <div class="margen formulario-contrasena">
            <form class="cambiar-contrasena">
                <input type="password" class="form-control" id="oldpass" name="oldpass" placeholder="Contraseña Actual">
                <input type="password" class="form-control" id="newpass" name="newpass" placeholder="Contraseña Nueva">
                <input type="password" class="form-control" id="confirmpass" name="confirmpass" placeholder="Confirmar Nueva Contraseña">
                <button class="btn-cancelar-cambio-contrasena">Cancelar</button>
                <button class="btn-guardar-contrasena">Guardar</button>
            </form>
        </div>
    </div>
    <h1 >Contacto</h1>
    <table class="tabla" style="width:100%">
        <tr>
            <th>Nombre dirección</th>
            <th>Direccion</th>
            <th>Comuna</th>
            <th>Ciudad</th>
            <th>Codigo Postal</th>
            <th>Telefono</th>
        </tr>
        {% for c in contactos %}
        <tr class="contactos" id-contacto="{{c["id"]}}">
            <td id="name-{{c["id"]}}">{{c["name"]}}</td>
            <td id="address-{{c["id"]}}">{{c["address"]}}</td>
            <td id="town-{{c["id"]}}">{{c["town"]}}</td>
            <td id="city-{{c["id"]}}" id-ciudad="{{c["city_id"]}}">{{c["city"]}}</td>
            <td id="zip-code-{{c["id"]}}">{{c["zip_code"]}}</td>
            <td id="telephone-{{c["id"]}}">{{c["telephone"]}}</td>
            <td><button class="btn-editar-contacto">Editar</button></td>
            <td><button class="btn-eliminar-contacto">Eliminar</button></td>
        </tr>
        {% end %}
        <tr class="formulario-contacto">
            <form class="editar-contacto">
                <input type="hidden" id="id-contacto" name="id-contacto">
                <td><input required type="text" id="name" name="name" placeholder="Nombre"></td>
                <td><input required type="text" id="address" name="address" placeholder="Direccion"></td>
                <td><input required type="text" id="town" name="town" placeholder="Comuna"></td>
                <td>
                    <select required id="city" name="city">
                        <option value="">Seleccione</option>
                        {% for c in ciudades %}
                        <option value="{{c["id"]}}">{{c["name"]}}</option>
                        {% end %}
                    </select>
                </td>
                <td><input required type="text" id="zip-code" name="zip_code" placeholder="Codigo Postal"></td>
                <td><input required type="text" id="telephone" name="telephone" placeholder="Telefono"></td>
                <td><button class="btn-guardar-contacto">Guardar</button></td>
                <td><button class="btn-cancelar-editar-contacto">Cancelar</button></td>
            </form>
        </tr>
    </table>
    <button class="btn-left btn-agregar-contacto">AGREGAR DIRECCIONES</button>
    <div class="formulario-agregar-contacto clearfix">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="block-title-2"> llene el formulario de abajo para agregar una dirección </h2>
            </div>
            <form class="editar-contacto">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group required">
                        <label for="InputName">Nombre <sup>*</sup> </label>
                        <input required type="text" class="form-control" id="InputName" name="name" placeholder="Nombre" value="">
                    </div>
                    <div class="form-group required">
                        <label for="InputLastName">Apellido <sup>*</sup> </label>
                        <input required type="text" class="form-control" id="InputLastName" name="lastname" placeholder="Apellido" value="">
                    </div>
                    <div class="form-group required">
                        <label for="InputEmail">Email <sup>*</sup> </label>
                        <input required type="text" class="form-control" id="InputEmail" placeholder="Email" value="" name="email">
                    </div>
                    <div class="form-group">
                        <label for="InputRut">Rut </label>
                        <input type="text" class="form-control" id="InputRut" placeholder="Rut" name="rut">
                    </div>
                    <div class="form-group required">
                        <label for="InputAddress">Dirección <sup>*</sup> </label>
                        <input required type="text" class="form-control" id="InputAddress" placeholder="Dirección" value="" name="address">
                    </div>
                    <div class="form-group required">
                        <label for="InputTown">Comuna <sup>*</sup> </label>
                        <input required type="text" class="form-control" id="InputTown" placeholder="Comuna" value="" name="town">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group required">
                        <label for="InputCity">Ciudad <sup>*</sup> </label>
                        <select name="city_id" id="InputCity" class="form-control">
                            <option value="">Seleccione</option>
                            {% for c in ciudades %}
                            <option value="{{c['id']}}">{{c['name']}}</option>
                            {% end %}
                        </select>
                    </div>
                    <div class="form-group required">
                        <label for="InputZip">Código postal <sup>*</sup> </label>
                        <label for="InputZip"><a target="_blank" href="http://www.correos.cl/SitePages/home.aspx">conocer mi código postal</a></label>
                        <input required type="text" class="form-control" id="InputZip" placeholder="Código postal" name="zip_code">
                    </div>
                    <div class="form-group">
                        <label for="InputAdditionalInformation">Información adicional</label>
                        <textarea rows="3" cols="26" class="form-control" id="InputAdditionalInformation" name="additional_info"></textarea>
                    </div>
                    <div class="form-group required">
                        <label for="InputMobile">Teléfono <sup>*</sup></label>
                        <input required type="tel"  name="telephone" class="form-control" id="InputMobile">
                    </div>
                    <button class="btn-cancelar-agregar-contacto">Cancelar</button>
                    <button class="btn-agregar-contacto">Guardar</button>
                </div>
            </form>
        </div>
    </div>

</div>
{% end %}

{% block javascript %}
<script src="/static/js/profile/profile.js"></script>
{% end %}