<tr class="contactos" id-contacto="{{id}}">
    <td id="name-{{id}}">{{contacto["name"]}}</td>
    <td id="address-{{id}}">{{contacto["address"]}}</td>
    <td id="town-{{id}}">{{contacto["town"]}}</td>
    <td id="city-{{id}}" id-ciudad="{{contacto["city_id"]}}">{{contacto["city"]}}</td>
    <td id="zip-code-{{id}}">{{contacto["zip_code"]}}</td>
    <td id="telephone-{{id}}">{{contacto["telephone"]}}</td>
    <td><button class="btn-editar-contacto">Editar</button></td>
    <td><button class="btn-eliminar-contacto">Eliminar</button></td>
</tr>