{% extends "../base.html" %}
{% block title %}Giani Da Firenze - Home{% end %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% end %}

{% block body %}
<div class="cuerpo clearfix">
  <div class="slider">
    <img class="slide" src="/static/images/baner.png" data-rimage data-src="/static/images/baner.png">
  </div>
  <div class="slider-small">
    <img class="slide" src="/static/images/baner.png" data-rimage data-src="/static/images/banermovil.png">
  </div>
  <div class="timeline clearfix">
    <img class="image" src="/static/images/002(2)-549x366.jpg" data-rimage data-src="/static/images/historia.png">
  </div>
  <div class="estilodevida clearfix">
  <img class="image" src="/static/images/poster-video.png" data-rimage data-src="/static/images/poster-video.png">
  </div>
  <div class="queeslonuevo clearfix">
    <a href="/store/getproductsbytags?tags=lo%20nuevo">
    <img class="image" src="/static/images/baner.png" data-rimage data-src="/static/images/baner-que-es.png">
    </a>
  </div>
  <div class="queeslonuevo-small">
    <a href="/store">
    <img class="slide" src="/static/images/banermovil.png" data-rimage data-src="/static/images/banermovil.png">
    </a>
  </div>
  <div class="comunidad clearfix">
    <img class="image" src="/static/images/comunidad.png" data-rimage data-src="/static/images/comunidad.png">
  </div>
  <div id="videohome"class="tienda clearfix">
    <ul>
     <li><img id="videoimg"class="image" src="/static/images/ir-a-la.png" data-rimage data-src="/static/images/ir-a-la.png" style="position:relative;">
        <ul>
       <img id="videoimg-1"class="image esconder" src="/static/images/ir-a-la.png" data-rimage data-src="/static/images/ir-a-la-hover.png" style="position:relative;margin-top: -64.49%;">
       </ul>
      </li>


      <video loop preload poster=""id="video" class="mostrar-1"style="width:100%;margin-top: -60%;float: left;">
        <source src="/static/images/giani.mp4" type="video/mp4">
        <source src="/static/images/giani.webm" type="video/webm">
     </video> 
    </ul>
    
      
  
  </div>
</div>
{% end %}
{% block javascript %}{% end %}