{% extends "../base.html" %}
{% block title %}Giani Da Firenze - Home{% end %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% end %}

{% block body %}
<div class="cuerpo clearfix">
  <div class="slider">
    <img class="slide" src="/static/images/001(5)-1400x920.jpg" data-rimage data-src="/static/images/001(5)-1400x920.jpg">
  </div>
  <div class="timeline clearfix">
    <img class="image" src="/static/images/002(2)-549x366.jpg" data-rimage data-src="/static/images/002(2)-549x366.jpg">
  </div>
  <div class="estilodevida clearfix">
    <img class="image" src="/static/images/003-549x366.jpg" data-rimage data-src="/static/images/003-549x366.jpg">
  </div>
  <div class="queeslonuevo clearfix">
    <img class="image" src="/static/images/001(2)-1120x523.jpg" data-rimage data-src="/static/images/001(2)-1120x523.jpg">
  </div>
  <div class="comunidad clearfix">
    <img class="image" src="/static/images/002-549x475-5.jpg" data-rimage data-src="/static/images/002-549x475-5.jpg">
  </div>
  <div class="tienda clearfix">
    <a href="/store">
      <img class="image" src="/static/images/002-549x475.jpg" data-rimage data-src="/static/images/002-549x475.jpg">
    </a>
  </div>
</div>
{% end %}
{% block javascript %}{% end %}