{% extends "../base.html" %}
{% block title %}Giani Da Firenze - Home{% end %}
{% block css %}
<link rel="stylesheet" href="/{{nocache_static}}/css/index.css">
{% end %}
{% block body %}
<div class="cuerpo clearfix">
    {% include ../slider.html %}
<div class="content-13-inch">
    <div id="videohome" class="timeline clearfix">
        <ul>
            <li><img id="videoimg"class="image" src="https://static.loadingplay.com/static/images/200_3b09092d96afa6b4ef669acbe319e294_play-video1.png" lp-load-big="https://static.loadingplay.com/static/images/3b09092d96afa6b4ef669acbe319e294_play-video1.png" style="position:relative;">
                <ul>
                    <img id="videoimg-1"class="image esconder" src="/{{nocache_static}}/images/ir-a-la-hover.png" style="position:relative;margin-top: -64.49%;">
                </ul>
            </li>
            <video loop preload poster=""id="video" class="mostrar-1"style="width:100%;margin-top: -60%;float: left;">
                <source src="/{{nocache_static}}/images/giani.mp4" type="video/mp4">
                <source src="/{{nocache_static}}/images/giani.webm" type="video/webm">
            </video>
        </ul>
        
    </div>
    <div class="estilodevida clearfix">
        <a href="/store">
        <img class="image" src="https://static.loadingplay.com/static/images/200_4d37694200e2c8f038c382354ae2773c_shopnow2.png" lp-load-big="https://static.loadingplay.com/static/images/4d37694200e2c8f038c382354ae2773c_shopnow2.png">
        </a>
    </div>
    <div class="queeslonuevo clearfix">
        <a href="/store">
        <img class="image" src="https://static.loadingplay.com/static/images/200_22bbd8d223ee514c1f5fd7388272ff12_banner-lo-nuevo1.png" lp-load-big="https://static.loadingplay.com/static/images/22bbd8d223ee514c1f5fd7388272ff12_banner-lo-nuevo1.png">
        </a>
    </div>
    <div class="queeslonuevo-small">
        <a href="/store">
        <img class="slide" src="https://static.loadingplay.com/static/images/200_b5343d29a3389a38fabacc68d2461a04_movil.png" lp-load-big="https://static.loadingplay.com/static/images/b5343d29a3389a38fabacc68d2461a04_movil.png" >
        </a>
    </div>
    <div class="comunidad clearfix">
        <a href="https://instagram.com/gianidafirenze/" target="_blank">
        <img class="image" src="https://static.loadingplay.com/static/images/200_71f38401bb8a784471391c4a16e93717_comunidad2.png" lp-load-big="https://static.loadingplay.com/static/images/71f38401bb8a784471391c4a16e93717_comunidad2.png">
        </a>
    </div>
    <div class="tienda clearfix">
        <a href="/history">
        <img class="image" src="https://static.loadingplay.com/static/images/200_0af2c225986f30e620ad5a003bedfaee_nuestra-historia2.png" lp-load-big="https://static.loadingplay.com/static/images/0af2c225986f30e620ad5a003bedfaee_nuestra-historia2.png">
        </a>
        
    </div>
</div>
</div>
{% end %}
{% block javascript %}{% end %}