.contenedor-contacto {
    max-width: 1200px;
    /* float: left; */
    margin: 0 auto;
    position: relative;
    color: rgb(53, 52, 52);
    font-weight: 100;
}
.contenedor-contacto-form {
}
.contacto-form {
    width: 80%;
    margin: 20px auto;
}

.contenedor-contacto-form form h1 {
    /* font-weight: 700; */
    /* font-family: 'Amatic SC', cursive; */
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    /* background-color: rgb(224, 224, 224); */
    color: rgb(92, 88, 88);
    line-height: 2em;
    letter-spacing: 2px;
    }

.contenedor-contacto-form form input, textarea{
    width: 80%;
    margin: 10px auto 10px 10%;
    border: 1px solid gainsboro;
    padding: 0% 0% 0% 5%;
    font-size: 18px;
    font-weight: 300;
}

.contenedor-contacto-form form textarea {
    height: 80px;
    padding-top: 10px;
}
.contenedor-contacto-form form input {
    height: 40px;
}

.contenedor-contacto-form form button {
    height: 40px;
    width: 80%;
    margin: 10px auto 10px 10%;
    /* border: 1px solid rgb(168, 168, 168); */
    /*padding: 0% 0% 0% 5%;*/
    margin-bottom: 20px;
    color: white;
    background-color: #869388;
    font-size: 18px;
    letter-spacing: 1px;
}

.contenedor-contacto-form form button:hover {
    background-color: #bfd2c3;
border-color: #bfd2c3;
color: #FFFFFF; }
.contacto-centrar {
    max-width: 500px;
    margin: 0 auto;
}

.conditions-titulos h1, .conditions-titulos h2 {
    /* margin-top: 20px; */
}

.user-direcciones {
    width: 100%;
    float: left;
}
.user-direcciones div{
    width: 50%;
    float: left;
    padding: 10px;
}
.user-direcciones input, .user-page input{
    margin-top: 10px;
}

.user-page button {
    border: 1px solid gray;
    padding: 10px;
    margin: 10px 0px 10px 10px;
    float: right;

}

.user-page button:hover {
    border: 1px solid gray;
    color: white;
    background-color: gray;
    
}
.user-page p {
    padding: 3px 3px 0px 5px;
    font-size: 12px;
}
.user-page strong{
    padding: 3px 3px 0px 3px;
    font-weight: 700;
    font-size: 13px;
    color: black
}
.user-page {
}

.user-page h1 {
    font-size: 20px !important;
line-height: 17px !important;
border-bottom: 1px solid gray !important;
margin-top: 40px;
color: black;
float: left;
width: 100%;

}
.user_editar {
width: 30px;
height: 30px;
display: block;
float: right;
font-size: 16px;
margin-top: -30px;
z-index: 300;
border-radius: 15px;
line-height: 1.8em;
text-align: center;
padding: 6.4px 0px 0px 4px;
}

.btn_left {
    float: left!important;
    margin: 10px 10px 10px 0px !important;
}

.box-contact{
    border-radius: 0px !important;
}

.uno{
    margin-top: 57px;
    font-weight: 700;
    font-size: 20px;

}

.dos{
    font-weight: 600;
    font-size: 20px;
    margin-top: -23px;
    top: 12px;
    position: relative;
}
.tres{
    color: #2E2E2E;
    font-weight: 400;
    font-family: 'Open Sans';
}

.cuatro{
    position: relative;
    bottom: 6px;
    color: #2E2E2E;
    font-weight: 400;
    font-family: 'Open Sans';
}

.map{
     left: 139px;
    position: relative;
    top: 12px;
    margin-bottom: 20px;
}

.f-1{
    top: 50px;
    position: relative;
}

#map{
    height: 250px;
    width: 350px;
    position: relative;
    top: 12px;
    margin-bottom: 20px;
}

.lis{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
}


@media screen and (max-width: 700px){
    #map{
          right: 15px;
    }

   .contenedor-contacto{
         border-left: none !important;
   }
}