.slider {
  position: relative;
  float: left;
  width: 100%;
  display: inline;
}
.slider-small {
	display: none;
}

.queeslonuevo {
	display: inline;
}
.queeslonuevo-small{
	display: none;
}

.cuerpo-producto:hover
{
	cursor: pointer;
}
.fancybox-skin {
	background-color:  #d55d7c;
	border-radius: 0px;
	color: white;
}
.iconosalarmas {
	width: 100%;
	font-size: 25px;
	text-align: center;
}
.fancybox-wrap,  .fancybox-desktop, .fancybox-type-html, .fancybox-opened {
	opacity: 0.4;
	/*width: 50% !important;*/
}
.fancybox-inner
{
	width: 100% !important;
}
.icon-thumbs-up-alt {
	color: rgb(215, 106, 96);
}
#ajax_productos{
}
#ajax_productos.active{
	
}
#ajax_productos.disable{
}
.desaparece {
    display: none;
   
}

.price.tachado{
    text-decoration: line-through;
}

.btn-vent-may
{
	margin-top: 10% !important;
    border: 1px solid gray !important;
    width: 65% !important;
    line-height: 0 !important;
}
.btn-vent-may:hover
{
	background-color: gray !important;
	color: white !important;
}
@media(max-width: 479px) {
.btn-close-movil
{
	margin-top: 30px;
}

.btn-vent-may
{
	width: 80% !important;
}

.btn-default-3
{
	width: 100%;
}

.fancybox-wrap,  .fancybox-desktop, .fancybox-type-html, .fancybox-opened {
	opacity: 0.4;
	width: 90% !important;
	left: 5% !important;
}
.slider {
	display: none !important;
}
.slider-small, .queeslonuevo-small {
	display: inline;
	position: relative;
  float: left;
  width: 100%;
  margin-left: 0%;
}
.queeslonuevo {
	display: none;
}
}
.minict_wrapper ul li {
white-space: nowrap;
}

.show-hide
{
	display: block;
}
.hide-show
{
	display: none;
}
.new-social-network
{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;	
}
.fancybox-skin
{
	width: 500px !important;
}
@media(max-width: 479px) {
	.show-hide
{
	display: none;
}
.hide-show
{
	display: block;
}
.fancybox-skin
{
	width: 280px !important;
}
}
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: auto;
}
