.contenedor-contacto {
    width: 100%;
    float: left;
}

.contenedor-contacto-form {
    width: 80%;
    margin-left: 10%;
    float: left;
}

.contacto-form {
    width: 100%;
    margin: 20px auto;
}

.contenedor-contacto-form form h1 {

    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    color: rgb(92, 88, 88);
    line-height: 2em;
    letter-spacing: 2px;
    }

.contenedor-contacto-form form textarea {
    height: 80px;
    padding-top: 10px;
}

.contenedor-contacto-form form input {
    height: 40px;
}

.conditions-titulos h1, .conditions-titulos h2 {
    margin-top: 20px;
}

.user-direcciones {
    width: 100%;
    float: left;
}

.user-direcciones div{
    width: 50%;
    float: left;
    padding: 10px;
}

.user-page input, .user-page select{
    margin-top: 10px;
}

.user-page button {
    border: 1px solid gray;
    padding: 10px;
    margin: 10px 0px 10px 10px;
    float: right;
}

.user-page button:hover {
    border: 1px solid gray;
    color: white;
    background-color: gray;
    
}

.user-page p {
    padding: 3px 3px 0px 5px;
    font-size: 12px;
}

.user-page strong{
    padding: 3px 3px 0px 3px;
    font-weight: 700;
    font-size: 13px;
    color: black
}

.user-page h1 {
    font-size: 20px !important;
    line-height: 17px !important;
    border-bottom: 1px solid gray !important;
    margin-top: 40px;
    color: black;
    float: left;
    width: 100%;
}

.btn-left {
    float: left!important;
    margin: 10px 10px 10px 0px !important;
}

.datos-usuario{
    width:100%;
    float: left;
    padding-right: 10px;
}

.datos-compra{
    width:50%;
    float: left;
}

.margen
{
    margin-top: 10px;
}

.campo
{
    width: 150px;
}

.tabla-contacto{
    width: 100%;
}

.formulario-contrasena
{
    display: none;
}

.formulario-contacto
{
    display: none;
}

.formulario-agregar-contacto
{
    display: none;
}

.formulario-contacto input, .formulario-contacto select
{
    width: 100%;
}

#name
{
    margin-right: 50px;
}

#address
{
    width: 200px;
}

#city
{
    width: 90%;
}