

{% extends "../base.html" %}
{% block title %}
Giani Da Firenze - Carro de Compra
{% end %}

{% block css %}
<link rel="stylesheet" href="/{{nocache_static}}/css/index.css">
<link rel="stylesheet" href="/{{nocache_static}}/css/bootstrap/style.css">
<link rel="stylesheet" href="/{{nocache_static}}/css/bootstrap/skin-10.css">
<link rel="stylesheet" href="/{{nocache_static}}/css/oculta-dato.css">
{% end %}

{% block javascript %}
<script src="/{{nocache_static}}/js/detalle-producto.js"></script>
<script src="/{{nocache_static}}/js/bootstrap/bootstrap.min.js"></script>
<script src="/{{nocache_static}}/js/bootstrap/bootstrap.touchspin.js"></script>
 <!-- Script para google analytics -->
<script src="/{{nocache_static}}/js/ga-checkout.js"></script>
{% end %}

{% block body %}

<div class="container main-container ">

  
<!--   <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-shopping-cart"></i> Checkout</span></h1>
</div>

    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar"> 

      <h4 class="caps"><a href="category.html"><i class="fa fa-chevron-left"></i> Back to shopping </a></h4>
      </div>
</div> -->
  
  <div class="row step-margin-top">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="row userInfo">
        
        <div class="col-xs-12 col-sm-12">
        
       <div class="w100 clearfix"> 
          {% include order.step.html %}
          <!--orderStep-->
        </div>
        
        
        <div class="w100 clearfix">
        
        
        	<div class="row userInfo">
                
                <div class="col-lg-12">
                    <h2 class="block-title-2"> Revisar compra </h2>
                </div>
                
            
            
            	<div class="col-xs-12 col-sm-12">
                      <div class="cartContent w100 checkoutReview ">
                        <table class="cartTable table-responsive table" style="width:100%">
                          <thead>
                            <tr class="CartProduct cartTableHeader">
                              <th class="text-center">Producto</th>
                              <th class="text-center">Detalles</th>
                              <th class="text-center">Precio Unitario</th>
                              <th class="text-center">Cantidad</th>
                              <th class="text-center">Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for d in data %}
                            <tr class="CartProduct">
                              <td class="CartProductThumb">
                                <a href="product-details.html"><img src="{{url_bodega}}/image/{{d['image']}}?mw=86"></a>
                              </td>
                              <td>
                                <div class="text-center">
                                  <h4>{{d["name"]}}</h4>
                                  <span class="size">{{d["size"]}}</span>
                                </div>
                              </td>
                              <td class="delete">
                                  <p class="producto-precio">$ {{money_format(d['price'])}}</p>
                              </td>
                              <td class="hidden-xs quantity">
                                <div class="col-sm-10">
                                  <input id="demo_vertical2" type="text" value="{{ d['quantity'] }}" cart-id="{{d['id']}}" name="demo_vertical2">
                                </div>
                                <div class="col-sm-2">
                                  <a title="Delete" class="borrarproducto" cart-id="{{d['id']}}"> <i class="glyphicon glyphicon-trash fa-2x"></i></a>
                                </div>
                              </td>
                              <td class="price">
                                <div class="text-right subtotal {{d['id']}}">${{money_format(d["subtotal"])}}</div>
                              </td>
                            </tr>
                            {% end %}
                            <tfoot>
                              <tr class="CartProduct">
                                <td colspan="4">
                                  <div class="text-right">Total productos</div>
                                </td>
                                <td class="price">
                                  <div class="text-right total-productos">${{money_format(suma)}}</div>
                                </td>
                              </tr>
                              <tr class="CartProduct">
                                <td colspan="4">
                                  <div class="text-right">IVA</div>
                                </td>
                                <td class="price text-right" >
                                  <span class="success">
                                    <div class="text-right iva">
                                      ${{money_format(suma*iva)}}
                                    </div>
                                  </span>
                                </td>
                              </tr>
                              <tr class="CartProduct">
                                <td colspan="4">
                                  <div class="text-right">Envío</div>
                                </td>
                                <td class="price text-right" >
                                  <span class="success">
                                    <div class="text-right">
                                      Por pagar
                                    </div>
                                  </span>
                                </td>
                              </tr>
                              <tr class="CartProduct">
                                <td colspan="4">
                                  <div class="text-right">Total</div>
                                </td>
                                <td class="price">
                                  <div class="text-right total-price">${{money_format(suma*(1+iva))}}</div>
                                </td>
                              </tr>
                            </tfoot>
                          </tbody>
                        </table>
                      </div>
                      <!--cartContent-->

<!--                       <table class="table-responsive cartTable table">
                        
                      </table> -->
                      

          
          <!--/row-->
  
          
        </div>
                
                
                </div>
                
          
            
            
            
            </div><!--/row end-->
            
            
            
            <div class="cartFooter w100">
            <div class="box-footer">

              <div class="pull-left"> <a class="btn btn-default" href="/store"> <i class="fa fa-arrow-left"></i> &nbsp; Volver a la tienda </a> </div>
              <!-- <div class="pull-left"> <a class="btn btn-default" href="/checkout/address"> <i class="fa fa-arrow-left"></i> &nbsp; Dirección </a> </div> -->
              <div class="pull-right"> 

                  <form id="form-pago" action="/checkout/payment" method="post">
                    <button type="submit" class="btn btn-primary btn-small btn-pago">Pago &nbsp; <i class="fa fa-arrow-circle-right"></i></button>
                  </form>

              </div>
               
               <!-- <div class="pull-right">
                <a href="#" class="btn btn-primary btn-small " > 
					Confirm Order &nbsp; <i class="fa fa-check"></i>
                 </a>
              </div> -->
               
               
              
            </div>
          </div>
          <!--/ cartFooter --> 
    
        	
       
     
        
        
        
        
        
        </div>
          
          
          
                
        </div>
      </div>
      <!--/row end--> 
      
  
      <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar"> 

        <div class="w100 cartMiniTable">
          <table id="cart-summary" class="std table">
            <tbody>
              <tr>
                <td>Total productos</td>
                <td class="price total-productos">${{money_format(suma)}}</td>
              </tr>
              <tr>
                <td>IVA</td>
                <td class="price" >
                  <span class="success iva">
                    ${{money_format(suma*iva)}}
                  </span>
                </td>
              </tr>
              <tr>
                <td>Envío</td>
                <td class="price" >
                  <span class="success">
                    Por pagar
                  </span>
                </td>
              </tr>
              <tr>
                <td > Total </td>
                <td class="site-color total-price">${{money_format(suma*(1+iva))}}</td>
              </tr>
            </tbody>
          </table> 
        </div>

    </div>
    <!--/rightSidebar--> 
    
  </div>
  <!--/row-->
  
  <div style="clear:both"></div>
</div>
<!-- /wrapper --> 

<!-- Datos para google analytic -->
<div class="datos-analytic">
  <!-- Este valor es 4, puesto que es el penultimo paso de la compra, aunque 
  checkout indica lo contrario -->
  <div class="numero-checkout">4</div>
  {% for d in data %}
  <div class="carro" car-id="{{d["id"]}}">
    <div class="id-{{d["id"]}}">{{d["sku"]}}</div>
    <div class="name-{{d["id"]}}">{{d["name"]}}</div>
    <div class="category-{{d["id"]}}">{{d["category"]}}</div>
    <div class="variant-{{d["id"]}}">{{d["color"]}}</div>
    <div class="price-{{d["id"]}}">{{d["subtotal"]}}</div>
    <div class="quantity-{{d["id"]}}">{{d["quantity"]}}</div>
  </div>
  {% end %}
</div>
<script>
  $("input[name='demo_vertical2']").TouchSpin({
    verticalbuttons: true,
    verticalupclass: 'glyphicon glyphicon-plus',
    verticaldownclass: 'glyphicon glyphicon-minus',
    min: 1
  }).on('change', function() {
    var cart_id = $(this).attr("cart-id");
    var quantity = $(this).val();
    var iva = 0;
    $.ajax({
      type: 'post',
      url: '/cart/update',
      data: 'cart_id=' + cart_id + '&quantity=' + quantity,
      dataType: 'json',
      success: function(response) {
        var response_json = $.parseJSON(JSON.stringify(response));
        if ("error" in response_json) {
          alert(response_json["error"]);
        } else {
          $(".quantity-"+cart_id).html(quantity);
          $('.total-productos').text('$ '+response["success"]["total"]).addClass("text-right");
          iva = parseInt(parseInt(response["success"]["total"]) * 0.19);
          var total = parseInt(response["success"]["total"])+parseInt(iva);
          $(".iva").text('$ '+ iva);
          $(".total-price").text('$ '+ total);
          $('.sum-subtotal').text('$ '+response["success"]["total"]);
          $('.subtotal.'+cart_id).text('$ '+response["success"]["subtotal"]);
          $(".price-"+cart_id).html(response["success"]["subtotal"]);
        }
      }
    });
  });
</script>
{% end %}