<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>index</title>
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,inherit,400,500,400|Playfair+Display:900,400,700,400|Ubuntu+Condensed:400|Raleway:100|Cabin:500" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body class="body index clearfix">
  <div class="header-content clearfix">
    <div class="header-left-cont clearfix">
      <button class="_button">
        <p>&nbsp; &nbsp;Buscar</p>
        <p></p>
        <p></p>
      </button>
    </div>
    <div onClick="window.location='index.html';" class="logo-content">
      <img class="image image-1" src="images/giani-logo-2-gris-260x119.png" data-rimage data-src="images/giani-logo-2-gris-260x119.png">
      <img class="image image-2" src="images/giani-logo-2-negro-268x123.png" data-rimage data-src="images/giani-logo-2-negro-268x123.png">
      <img class="image image-3" src="images/giani-logo-3-242x111.png" data-rimage data-src="images/giani-logo-3-242x111.png">
      <img class="image image-4" src="images/logo-web-2-373x89.png" data-rimage data-src="images/logo-web-2-373x89.png">
      <img class="image image-5" src="images/logo-web-500x119.png" data-rimage data-src="images/logo-web-500x119.png">
    </div>
    <div class="header-rigth-cont clearfix">
      <div class="carritoicono clearfix">
        <img class="image" src="images/carrito-30x30.png" data-rimage data-src="images/carrito-30x30.png">
      </div>
      <div class="_container clearfix">
        <button class="_button">
          <p>REGISTRO</p>
          <p></p>
          <p></p>
          <p></p>
        </button>
      </div>
    </div>
    <div class="header-menu clearfix">
      <a href="index-copy.html" class="categoria-1 categoria-1-1">¿QUE ES LO NUEVO?</a>
      <a href="index-copy.html" class="categoria-1 categoria-1-2">ZAPATOS</a>
      <a href="index-copy.html" class="categoria-1 categoria-1-3">NOSOTROS</a>
      <a href="index-copy.html" class="categoria-1 categoria-1-4">CAMPAÑA</a>
      <a href="index-copy.html" class="categoria-1 categoria-1-5">CONTACTO</a>
    </div>
  </div>
  <div class="body-login clearfix">
    <div class="loginpopup clearfix">
      <div class="reg-strate-login clearfix">
        <p class="text text-1">LOG IN</p>
        <p class="text text-2">ingresa tu correo *</p>
        <input class="_input" placeholder="INGRESAR CORREO" type="text">
        <p class="text text-3">ingresa tu contraseña *</p>
        <input class="_input" placeholder="INGRESAR CONTRASEÑA" type="text">
        <p class="text text-4"><a>recuperar contraseña</a></p>
        <label class="radio-label _container clearfix">
          <input class="radio" type="radio">
          <span class="point-text"><span>seguir conectado</span></span>
        </label>
        <button class="_button">INGRESAR</button>
      </div>
      <div class="reg-strate-fb clearfix">
        <p class="tt-tulo-fb">O REGÍSTRATE CON FACEBOOK</p>
        <div class="cont-foto-fb"></div>
      </div>
      <div class="reg-strate-correo clearfix">
        <p class="text text-5">REGÍSTRATE</p>
        <p class="text text-6">ingresa tu correo *</p>
        <input class="_input _input-3" placeholder="INGRESAR CORREO" type="text">
        <p class="text text-7">repetir correo *</p>
        <input class="_input _input-4" placeholder="INGRESAR CORREO" type="text">
        <p class="text text-8">ingresa tu contraseña *</p>
        <input class="_input _input-5" placeholder="INGRESAR CONTRASEÑA" type="text">
        <p class="text text-9">repetir contraseña *</p>
        <input class="_input _input-6" placeholder="INGRESAR CONTRASEÑA" type="text">
        <label class="aceptar-condiciones clearfix">
          <input class="radio" type="radio">
          <span class="point-text"><font color="#4d4d4d"><span style="font-size: 12px; line-height: 16px;">Estoy de acuerdo con las condiciones</span></font></span>
        </label>
        <button class="_button">COMPLETAR REGISTRO</button>
      </div>
    </div>
  </div>
  <div class="registroopciones clearfix">
    <div class="opcionesregistro clearfix">
      <p class="text">mi perfil</p>
      <p class="text text-11">mis direcciones</p>
      <p class="text text-12">mis compras</p>
      <p class="text text-13">cerrar sesión</p>
    </div>
    <div class="flecharegistro clearfix">
      <img class="image" src="images/flecha(2)-15x15.png" data-rimage data-src="images/flecha(2)-15x15.png">
    </div>
  </div>
  <div class="cuerpo clearfix">
    <div class="slider">
      <img class="slide" src="images/001(5)-1400x920.jpg" data-rimage data-src="images/001(5)-1400x920.jpg">
    </div>
    <div class="timeline clearfix">
      <img class="image" src="images/002(2)-549x366.jpg" data-rimage data-src="images/002(2)-549x366.jpg">
    </div>
    <div class="estilodevida clearfix">
      <img class="image" src="images/003-549x366.jpg" data-rimage data-src="images/003-549x366.jpg">
    </div>
    <div class="queeslonuevo clearfix">
      <img class="image" src="images/001(2)-1120x523.jpg" data-rimage data-src="images/001(2)-1120x523.jpg">
    </div>
    <div class="comunidad clearfix">
      <img class="image" src="images/002-549x475-5.jpg" data-rimage data-src="images/002-549x475-5.jpg">
    </div>
    <div class="tienda clearfix">
      <img class="image" src="images/002-549x475.jpg" data-rimage data-src="images/002-549x475.jpg">
    </div>
  </div>
  <div class="carritoproductos clearfix">
    <div class="flecha clearfix">
      <img class="image" src="images/flecha-15x15.png" data-rimage data-src="images/flecha-15x15.png">
    </div>
    <div class="carritoinfo clearfix">
      <div class="productosencola clearfix">
        <div class="fotoproductoencola">
          <img class="image" src="images/producto-70x70.png" data-rimage data-src="images/producto-70x70.png">
        </div>
        <p class="nombreproductoencola">nombre productos</p>
        <p class="color">color: chucao30</p>
        <button class="eliminarproducto">X</button>
        <p class="talla">talla 39</p>
        <p class="cantidad">x1</p>
        <p class="precio">$ 00.0</p>
      </div>
      <div class="total clearfix">
        <p class="totalcarrrito">total &nbsp;$ 00.0</p>
      </div>
      <div class="acciones clearfix">
        <button class="iralcarro">
          <p>ir al carro</p>
          <p></p>
        </button>
        <button class="comprar">
          <p>comprar</p>
          <p></p>
        </button>
      </div>
    </div>
  </div>
  <div class="footer clearfix">
    <div class="footer-left-cont clearfix">
      <img class="image image-15" src="images/logo001-50x50.png" data-rimage data-src="images/logo001-50x50.png">
      <img class="image image-16" src="images/flechas-15x15-5.png" data-rimage data-src="images/flechas-15x15-5.png">
      <a class="text text-14" href="#">¿Qué es lo nuevo?</a>
      <img class="image image-17" src="images/flechas-15x15-4.png" data-rimage data-src="images/flechas-15x15-4.png">
      <a class="text text-15" href="#">Zapatos</a>
      <img class="image image-18" src="images/flechas-15x15-3.png" data-rimage data-src="images/flechas-15x15-3.png">
      <a class="text text-16" href="#">Campañas</a>
      <img class="image image-19" src="images/flechas-15x15-2.png" data-rimage data-src="images/flechas-15x15-2.png">
      <a class="text text-17" href="#">Nosotros</a>
      <img class="image image-20" src="images/flechas-15x15-1.png" data-rimage data-src="images/flechas-15x15-1.png">
      <a class="text text-18" href="#">História</a>
      <img class="image image-21" src="images/flechas-15x15.png" data-rimage data-src="images/flechas-15x15.png">
      <a class="text text-19" href="#">Estílo de vida</a>
      <button class="_button">
        <p></p>
        <p>CONTACTO</p>
        <p><br></p>
        <p><br></p>
        <p></p>
        <p>TIENDA</p>
        <p>TIENDA</p>
      </button>
    </div>
    <div class="footer-left-center-cont clearfix">
      <button class="_button">VENTA MAYORISTA</button>
      <p class="text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto.</p>
    </div>
    <div class="footer-right-center-cont clearfix">
      <button class="_button">
        <p></p>
        <p>TIENDA</p>
</button>
      <img class="image" src="images/zapato-giani-100x100.png" data-rimage data-src="images/zapato-giani-100x100.png">
    </div>
    <div class="footer-right-cont clearfix">
      <p class="text">SÍGUENOS</p>
      <div class="footer-redes clearfix">
        <img class="image image-23" src="images/giani-pint-50x50.png" data-rimage data-src="images/giani-pint-50x50.png">
        <img class="image image-24" src="images/giani-face-50x50.png" data-rimage data-src="images/giani-face-50x50.png">
        <img class="image image-25" src="images/giani-inst-50x50.png" data-rimage data-src="images/giani-inst-50x50.png">
        <img class="image image-26" src="images/giani-tweet-50x50.png" data-rimage data-src="images/giani-tweet-50x50.png">
      </div>
    </div>
    <div class="text text-22">
      <p>Giani da firenze 2014 ® &nbsp; &nbsp; &nbsp;&nbsp;</p>
      <p>&nbsp; &nbsp;calle, #000, comuna. Santiago. Chile. &nbsp; &nbsp; &nbsp;</p>
      <p>Teléfono (+56) 9 823 234 23. &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
      <p>&nbsp;hecho por &nbsp;<a>loadingplay.com</a></p>
</div>
  </div>

  <script src="js/jquery-min.js"></script>
  <script src="js/rimages.js"></script>
</body>
</html>