{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/contacto.css">
{% end %}
{% block body %}
<div class="contenedor-contacto-form content-13-inch">
<h1 style="  margin: 40px auto;text-align: center; color:black; padding: 0px 30px;">Nuestra marca nace como los buenos platos: de la combinación de varios ingredientes, pensados y seleccionados por el chef, para brindar una experiencia única con cada bocado.</h1>
<p style="margin: 40px auto;text-align: center;font-size:18px; padding: 0px 30px;">Da Firenze fue el comienzo de la elaboración de diferentes propuestas en nuestro menú de calzados, sabrosos para el verano, contundentes para el invierno, livianos para ser usados después del trabajo… siendo el ingrediente principal la experiencia y calidad que aportan un sabor duradero a cosas bien hechas.

Luego de un largo camino recorrido, aprendimos nuevos secretos de cocina, se conocieron nuevos ingredientes y logramos entender las necesidades de otros paladares, por eso hoy queremos presentarles la combinación justa entre calidad, dedicación y experiencia con nuevos conceptos de diseño, osadía e innovación… llevándolos a vivir y a sentir una experiencia memorable.</p>

{% include slider.html %}
 
</div>
{% end %}