{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/{{nocache_static}}/css/contacto.css">
{% end %}
{% block body %}
<div class="contenedor-contacto-form content-13-inch">
	<div class="queeslonuevo-2 clearfix aboutus-top">
		<img class="image" src="https://static.loadingplay.com/static/images/200_46614126a9f118517b580f68e024771b_p_001.png" lp-load-big="https://static.loadingplay.com/static/images/46614126a9f118517b580f68e024771b_p_001.png" style="display: block;">
	</div>
	<div class="estilodevida-2 clearfix aboutus-image aboutus-top alto-centrar" >
		<p >Más de tres décadas de trayectoria en la industria del calzado tienen las manos que hay detrás de cada modelo de <span style="color: black;">Giani Da Firenze.</span> Se trata de artesanos expertos en este  oficio, que junto al joven equipo de creativo, dan forma a más de 80 diseños anuales.</br>
		</br>

		En una fábrica pequeña, en el tradicional  barrio Victoria, cada uno de nuestros modelos se esboza. modela, corta, apara, arma y envasa, para luego ofrecer un zapato confortable, audaz, exclusivo y original.
		</p>
	</div>
	<div class="estilodevida-2 clearfix aboutus-image aboutus-top">
		<img class="image" src="https://static.loadingplay.com/static/images/200_d6bd948f58448617cd4bd771d8261b36_p_002.png" lp-load-big="https://static.loadingplay.com/static/images/d6bd948f58448617cd4bd771d8261b36_p_002.png" style="display: block;">
	</div>
	<div class="estilodevida-2 clearfix aboutus-image aboutus-top">
		<img class="image" src="https://static.loadingplay.com/static/images/200_fd9ff3bc2baa49cb9b3abb855dae618a_p_003.png" lp-load-big="https://static.loadingplay.com/static/images/fd9ff3bc2baa49cb9b3abb855dae618a_p_003.png" style="display: block;">
	</div>
	<div class="estilodevida-2 clearfix aboutus-image aboutus-top alto-centrar-2" >
		<p>En Giani Da Fireze apostamos por un dibujo único, materiales rústicos de nuestra tierra, innumerables combinaciones de colores y mezclas de textura, a lo que se suma un meticuloso proceso proceso de selección de detalles y el fuerte carácter rupturista de nuestra fundadora.</br>
		</br>
		Es una preocupación constante vestir los pies de nuestras mujeres con lo más reciente de la tendencia internacional. Pero siempre aplicando a la necesidad local.</br>
		</br>
		Así es como la osadía y el diseño de plasman en el día a día de proceso productivo de <span style="color: black;">Giani Da firenze</span>, cuya capacidad de respuesta al mercado es fuerte, pero siempre cuidamos el principio de renovar vitrinas y colecciones con modelos nuevos y con ese característico sello Giani Da Firenze.
		</br>
	</div>
	

<div class="queeslonuevo-2 clearfix aboutus-top">
<img class="image" src="https://static.loadingplay.com/static/images/200_c40f78a1be40453a349b0b66265bd4e6_p_004.png" lp-load-big="https://static.loadingplay.com/static/images/c40f78a1be40453a349b0b66265bd4e6_p_004.png" style="display: block;">

</div>
 
</div>
<script>
$(document).ready(function(){
    $(".header-menu .nosotros").addClass("activo");
});
</script>
{% end %}