{% extends "base.html" %}
{% block title %}Giani Da Firenze - Home{% end %}

{% block css %}
<link rel="stylesheet" href="/{{nocache_static}}/css/index.css">
<link rel="stylesheet" href="/{{nocache_static}}/css/recuperar_c.css">
<link href='http://fonts.googleapis.com/css?family=Vidaloka' rel='stylesheet' type='text/css'>
{% end %}

{% block body %}

<div class="contenedor_formularios">
<div class="mensaje-error">
	<h1>Error</h1>
	<h2>{{ message }}</h2>
	<li class="boton_error"><a  href="/">Volver a Inicio</a></li>
</div>
</div>

{% end %}
{% block javascript %}{% end %}