<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body style="text-align:center; font-family:Arial; width:100%; margin: 0px;">
        <div style="">
            <div style="background-color:rgb(239, 239, 239); height:100px;padding-top:10px;">
                <img style="display:block;margin:0 auto;max-height:90px;" src="giani-logo-2-gris-260x119.png" />
            </div>
                <p style="margin:0px;font-family: Arial;color:#999;font-size:16px;text-align: left;padding: 24px 13px 0 27px;">
                    Hola {address_name}
                </p>


            <table cellspacing="0" style="width:80%; margin:0 auto; padding:5px 5px;color:#999999;-webkit-text-stroke: 1px transparent;">
                <tr style="font-family: Arial;background-color: #FFFFFF;text-align: center; font-size:12px;">
                    <th colspan=2 style="line-height: 2.5;height: 30px; border: 1px;border-color: #d6d6d6; border-style: solid; text-align: center;">Solicitus cambiar contrasena </th>
                </tr>
                <tr style="font-family: Arial;background-color: #FFFFFF;text-align: center; font-size:12px;">
                    <td style="line-height: 2.5;height: 30px;border-right: 1px solid #d6d6d6 ;border-left: 1px solid #d6d6d6">Cambiar tu contraseña es simple, sigue el siguiente link</td>
                </tr>
                <tr style="font-family: Arial;background-color: #FFFFFF;text-align: center; font-size:12px;">
                    <td style="line-height: 2.5;height: 30px;border-right: 1px solid #d6d6d6 ;border-left: 1px solid #d6d6d6">link</td>
                </tr>
                <tr style="font-family: Arial;background-color: #FFFFFF;text-align: center; font-size:12px;">
                    <td style="line-height: 2.5;height: 30px;border-right: 1px solid #d6d6d6 ;border-left: 1px solid #d6d6d6">Contrasena antigua: 985754897549087</td>
                </tr>
                <tr style="font-family: Arial;background-color: #FFFFFF;text-align: center; font-size:12px;">
                    <th style="line-height: 2.5;border-top: 1px solid #d6d6d6; height:50px; ">Gracias, El Equipo Giani da Firenze</th>
                </tr>
            </table>

            <table style="width:100%; height: 40px; background-color: rgb(255, 224, 218);">
                <tr>
                    <td colspan=2   style="padding: 24px;background-color:rgb(255, 224, 218);width:100%"><img style="display:block;margin:0 auto 0 auto;" src="" /></td>
                </tr>
            </table>
        </div>
    </body>
    </html> 