{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/contacto.css">
{% end %}
{% block body %}
<div class="contenedor-contacto">
<h1 style="  margin-top: 30px; border-bottom: 1px solid rgb(214, 136, 136); text-transform: uppercase; color: rgb(214, 136, 136);padding-left: 20px;">
        Preguntas Frecuentes
</h1>

<h2><i class="fa fa-angle-right"></i>
    ¿Cómo me registro?
</h2>
<p>
   Para registrarte haz click en la sección “Registro”<u></u>
</p>
<h2><i class="fa fa-angle-right"></i>
    ¿Es necesario registrarse para realizar una compra?
</h2>
<p>
    _ SI
</p>
<h2><i class="fa fa-angle-right"></i>
    ¿Es seguro comprar en Giani Da Firenze Ltda.?
</h2>
<p>
    _ SI
</p>
<h2><i class="fa fa-angle-right"></i>
    ¿Cómo puedo realizar una compra?
</h2>
<p>
     Primero debe registrarse y crear una cuenta, luego seleccionar el producto que desea comprar, para luego agregar al Carro de Compras.
</p>
<h2><i class="fa fa-angle-right"></i>
    ¿Cuáles son las formas de pago y cómo es el proceso?
</h2>
<p>
    Tenemos Transbank en nuestro carro de Compras y también aceptamos transferencias Bancarias y/o Depósitos Bancarias enviando el respectivo
    comprobante a contactos@gianidafirenze.cl
</p>
<h2><i class="fa fa-angle-right"></i>
    ¿Cómo puedo ver los productos que llevo en el carro de compras?
</h2>
<p>
    Debes seleccionar tu carro de compra, donde se te desplegaran todos los productos que llevas incluidos.
</p>
<h2><i class="fa fa-angle-right"></i>
    ¿Cuánto tiempo tarda Giani Da Firenze Ltda. en enviar mi compra?
</h2>
<p>
    Entre 5 a 7 días hábiles como máximo dependiendo de su es la Región Metropolitana o Región.
</p>
<h2><i class="fa fa-angle-right"></i>
    ¿Qué hago si mi producto no llega?
</h2>
<p>
    Debes enviar un mail a <a href="/contact">contacto@gianidafirenze.cl</a>, señalando tu problema.
</p>
<h2><i class="fa fa-angle-right"></i>
    ¿Cómo sé que mi orden fue recibida y aceptada?
</h2>
<p>
    Recibirás un mail de confirmación
</p>
<h2><i class="fa fa-angle-right"></i>
    ¿Qué garantías tienen los productos?
</h2>
<p>
    3 Meses para cambios, devoluciones y reparaciones si se debe a una falta, y 30 días desde la compra si se debe a un requerimiento personal del
    cliente por cambio de gustos, etc.
</p>
<h2><i class="fa fa-angle-right"></i>
    ¿Qué debo hacer en caso de cambio o devolución?
</h2>
<p>
    Debes contactarte a través del correo <a href="/contact">contacto@gianidafirenze.cl</a> señalando tu problema.
</p>
<h2><i class="fa fa-angle-right"></i>
    ¿Qué tipos de materiales ocupa Giani Da Firenze Ltda., en la elaboración de sus colecciones?
</h2>
<p>
    Cuero, suelas de madera o gomas, forros de cuero de Chando, etc.
</p>
</div>
{% end %}