<div class="footer clearfix">
    <div class="footer-left-cont clearfix">
        <!--<a href="/"><img class="image logo-footer" src="/{{nocache_static}}/images/logo001-50x50.png" data-rimage data-src="/{{nocache_static}}/images/logo001-50x50.png"></a>-->
        <img class="image right-arrow-footer" src="/{{nocache_static}}/images/flechas-15x15.png" data-rimage data-src="/{{nocache_static}}/images/flechas-15x15.png">
        <a class="text first-text-items-footer" href="/store">Nuevo</a>
        <img class="image right-arrow-footer-2" src="/{{nocache_static}}/images/flechas-15x15.png" data-rimage data-src="/{{nocache_static}}/images/flechas-15x15.png">
        <a class="text text-items-footer" href="/store">Tienda</a>
        <img class="image right-arrow-footer-2" src="/{{nocache_static}}/images/flechas-15x15.png" data-rimage data-src="/{{nocache_static}}/images/flechas-15x15.png">
        <a class="text text-items-footer" href="/store">Campa&ntilde;as</a>
        <img class="image right-arrow-footer-2" src="/{{nocache_static}}/images/flechas-15x15.png" data-rimage data-src="/{{nocache_static}}/images/flechas-15x15.png">
        <a class="text text-items-footer" href="/aboutus">Nosotros</a>
        <img class="image right-arrow-footer-2" src="/{{nocache_static}}/images/flechas-15x15.png" data-rimage data-src="/{{nocache_static}}/images/flechas-15x15.png">
        <a class="text text-items-footer" href="/history">Historia</a>
        <img class="image right-arrow-footer-2" src="/{{nocache_static}}/images/flechas-15x15.png" data-rimage data-src="/{{nocache_static}}/images/flechas-15x15.png">
        <a class="text text-items-footer" href="/tos">Terminos y condiciones</a>
        <!-- <img class="image right-arrow-footer-2" src="/{{nocache_static}}/images/flechas-15x15.png" data-rimage data-src="/{{nocache_static}}/images/flechas-15x15.png">
        <a class="text last-text-items-footer" href="/store/getproductsbytags/estilo_de_vida">Estilo de vida</a> -->
        <img class="image right-arrow-footer-2" src="/{{nocache_static}}/images/flechas-15x15.png" data-rimage data-src="/{{nocache_static}}/images/flechas-15x15.png">
        <a class="text last-text-items-footer" href="/faq">Preguntas Frecuentes</a>
        <a class="_button" href="/contact">
            <p>CONTACTO</p>
        </a>
    </div>
    <div class="footer-left-center-cont clearfix">
        <button class="_button">VENTA MAYORISTA</button>
        <button id="various1" href="#inline1" class=" _button btn-vent-may" style=" ">Registrate aquí</button>
        <button id="login-empresa" href="#form-login-empresa" class="_button btn-vent-may">Iniciar Sesi&oacute;n</button>

        <div style="display: none;">
            <div id="form-login-empresa" notitle>
                <div class="col-xs-12 col-sm-12">
                    <form action="/auth/enterprise" method="post" id="enterpriseLogin" class="form-horizontal">
                        <h3>Iniciar sesi&oacute;n con cuenta empresa</h3>
                        <div class="alert alert-warning hidden"></div>
                        <div class="form-group required">
                            <label for="rut" class="col-sm-4">Rut</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="rut" name="rut" placeholder="Rut">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="clave" class="col-sm-4">Contraseña</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="clave" name="password" placeholder="Contraseña">
                            </div>
                        </div>
                        <div class="pull-right btn-default-3" style="margin-top:20px;">
                            <button type="button" onclick="loginEnterprise();" class="btn btn-default btn-default-3">Entrar</button>
                            <button type="button" onclick="$('.fancybox-close').click();" class="btn btn-default btn-default-3 btn-close-movil">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div style="display: none;">
            <div id="inline1" notitle>
                <div class="col-xs-12 col-sm-12">
                    <form action="/auth/enterprise-registration" method="post" id="enterpriseRegistration" class="form-horizontal">
                        <h3>Completar formulario venta mayorista</h3>
                        <div class="form-group required">
                            <label for="nombre" class="col-sm-4">Nombre o Raz&oacute;n social</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="nombre" name="name" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="giro" class="col-sm-4">Giro</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="giro" name="bussiness" placeholder="Giro">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="rut" class="col-sm-4">Rut</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="rut" name="rut" placeholder="Rut">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="email" class="col-sm-4">Email</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="direccion" class="col-sm-4">Direcci&oacute;n</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="direccion" name="address" placeholder="Dirección">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="comuna" class="col-sm-4">Region</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="region" name="select-state" placehold="Región"></select>
                                <input type="hidden" class="form-control" id="state" name="state">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="comuna" class="col-sm-4">Provincia</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="provincia" name="select-city" placeholder="Provincia"></select>
                                <input type="hidden" class="form-control" id="city" name="city">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="comuna" class="col-sm-4">Comuna</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="comuna" name="select-town" placeholder="Comuna"></select>
                                <input type="hidden" class="form-control" id="town" name="town">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="clave" class="col-sm-4">Contraseña</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="clave" name="password" placeholder="Contraseña">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="clave" class="col-sm-4">Confirme contraseña</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="rep_clave" name="re-password" placeholder="Confirme contraseña">
                            </div>
                        </div>
                        <div class="pull-right btn-default-3" style="margin-top:20px;">
                            <button type="button" class="btn btn-default btn-default-3" onclick="enterpriseRegistration($('#enterpriseRegistration'))">Crear</button>
                            <button type="button" onclick="$('.fancybox-close').click();" class="btn btn-default btn-default-3 btn-close-movil">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-right-center-cont clearfix">
        <button class="_button btn-tienda">
        <p>TIENDA</p>
        </button>
        <img class="image" src="/{{nocache_static}}/images/zapato-giani-100x100.png" data-rimage data-src="/{{nocache_static}}/images/zapato-giani-100x100.png">
    </div>
    <!--<div class="footer-right-cont clearfix">
        <p class="text">SÍGUENOS</p>
        <div class="footer-redes clearfix">
            <a href="http://www.pinterest.com/search/pins/?q=giani%20da%20firenze" target="_blank" > <img class="image image-23" src="/{{nocache_static}}/images/giani-pint-50x50.png" data-rimage data-src="/{{nocache_static}}/images/giani-pint-50x50.png"> </a>
            <a href="https://www.facebook.com/giani.dafirenze" target="_blank" > <img class="image image-24" src="/{{nocache_static}}/images/giani-face-50x50.png" data-rimage data-src="/{{nocache_static}}/images/giani-face-50x50.png"> </a>
            <a href="http://instagram.com/gianidafirenze" target="_blank" > <img class="image image-25" src="/{{nocache_static}}/images/giani-inst-50x50.png" data-rimage data-src="/{{nocache_static}}/images/giani-inst-50x50.png"> </a>
            <a href="https://twitter.com/GianidaFirenze" target="_blank" > <img class="image image-26" src="/{{nocache_static}}/images/giani-tweet-50x50.png" data-rimage data-src="/{{nocache_static}}/images/giani-tweet-50x50.png"> </a>
        </div>-->
        <div class="logos-pagos">
            <img src="/{{nocache_static}}/images/logo-pagos.png" class="img-responsive">
        </div>
        <div class="text footer-contact-text">
            <p>Giani Da Firenze 2014 ® Teléfono (+56) 2 2555 0328. Desarrollado por <a href="http://loadingplay.com" target="_blank">LoadingPlay</a></p>
        </div>
    </div>