<div class="header-content clearfix">
	<div class="header-left-cont clearfix">
		<div class="header-left-social">
		    <div class="iconos"><a href="http://instagram.com/gianidafirenze"><i class="icon-instagram"></i></a></div>
			<div class="iconos-left iconos"><a href="https://www.facebook.com/giani.dafirenze?fref=ts"><i class="icon-facebook"></i></a></div>
			<div class="iconos-left iconos"><a href="https://twitter.com/GianidaFirenze"><i class="icon-twitter"></i></a></div>
			
		</div>
		<!-- <button class="_button">
			<p>&nbsp; &nbsp;Buscar</p>
		</button> --> 
	</div>
	<div class="logo-content">
		<a href="/">
			<img class="image image-1" src="/static/images/giani-logo-2-gris-260x119.png" data-rimage data-src="/static/images/giani-logo-2-gris-260x119.png">
			<img class="image image-2" src="/static/images/giani-logo-2-negro-268x123.png" data-rimage data-src="/static/images/giani-logo-2-negro-268x123.png">
			<img class="image image-3" src="/static/images/giani-logo-3-242x111.png" data-rimage data-src="/static/images/giani-logo-3-242x111.png">
			<img class="image image-4" src="/static/images/logo-web-2-373x89.png" data-rimage data-src="/static/images/logo-web-2-373x89.png">
			<img class="image image-5" src="/static/images/logo-web-500x119.png" data-rimage data-src="/static/images/logo-web-500x119.png">
		</a>
	</div>
	<div class="header-rigth-cont clearfix">
		<div class="carritoicono clearfix">
			<!-- <img class="image" src="" data-rimage data-src="/static/images/carrito-30x30.png"> -->
			<div class="iconos"><i class="icon-shopping-cart"></i></div>
		</div>
		<div class="_container clearfix">
			{% if current_user == None %}
				<a class="_button button_register fancybox fancybox.iframe" href="/auth/login?next={{url_escape(request.uri)}}">
					<p>REGISTRO</p>
				</a>
			{% else %}
				<!-- la clase logout es funcional no borrar -->
				<a class="_button button_register logout"  href="/auth/logout?next={{url_escape(request.uri)}}" >
					<p>{{current_user["name"]}}</p>
				</a>
			{% end %}
		</div>
	</div>
	<div class="header-menu clearfix">
		<a href="/" class="categoria-1 categoria-1-1">¿QUE ES LO NUEVO?</a>
		<a href="/" class="categoria-1 categoria-1-2">ZAPATOS</a>
		<a href="/" class="categoria-1 categoria-1-3">NOSOTROS</a>
		<a href="/" class="categoria-1 categoria-1-4">CAMPAÑA</a>
		<a href="/contact" class="categoria-1 categoria-1-5">CONTACTO</a>
	</div>
</div>

