<div class="header-content clearfix" style="background-image: url('{{banner('background_header').image}}') !important">
	<div class="header-left-cont clearfix">
		<div class="header-left-social">
		    <!-- <div class="iconos margin-left-2"><a href="http://instagram.com/gianidafirenze" class="redes_sociales" target="_blank"><img src="/{{nocache_static}}/images/red04.png" style="  width: 40px;"></a></div>
			<div class="iconos-left iconos"><a href="https://www.facebook.com/giani.dafirenze?fref=ts" target="_blank" class="redes_sociales"><img src="/{{nocache_static}}/images/red03.png" style="  width: 40px;"></i></a></div>
			 <div class="iconos-left iconos"><a href="https://twitter.com/GianidaFirenze" class="redes_sociales" target="_blank"><i class="fa icon-twitter"></i></a></div> -->
			
		</div>
		<!-- <button class="_button">
			<p>&nbsp; &nbsp;Buscar</p>
		</button> --> 
	</div>
	<div class="logo-content">
		<a href="/">
			<img class="image image-1" src="/{{nocache_static}}/images/giani-logo-2-gris-260x119.png" data-rimage data-src="/{{nocache_static}}/images/giani-logo-2-gris-260x119.png">
		</a>
	</div>

	<div class="header-right-cont clearfix" style="margin-left: 1116px;" >
		<ul>
			<li class="pull-left">
				<a href="/contact">Contacto</a>
			</li>
			<li class="pull-left separator" > / </li>
			<li class="pull-left">
				{% if current_user == None %}
				<a href="/auth/login">Registro</a>
				{% else %}
				<a href="/auth/logout">Salir</a>
				{% end %}
			</li>
			<li class="pull-left separator" > / </li>
			<li class="pull-left">
				<a href=""><img src="https://84static.loadingplay.com/static/images/ae98952321918ae3698f3537c36e96eb_icono_bolsa-de-compra.png"></a>
			</li>
		</ul>
	</div>

	<!-- <div class="header-rigth-cont clearfix">
		<div class="">
			<a href="/contact" class="categoria-1 contacto">
				<p>Contacto</p>
			</a>
		</div>

		<div class="_container clearfix salir_registro">
			{% if current_user == None %}
				<a class="" href="/auth/login?next={{url_escape(request.uri)}}">

					<p class="" >/ Registro</p>

				</a>
 -->
				<!-- <img class="imagen-back-login show-hide" src="/{{nocache_static}}/images/background-login.png"> -->
			<!-- {% else %} -->
				<!-- la clase logout es funcional no borrar -->
				<!-- <a href="/profile" >
					<p class="nombre_p"style="padding: 5px;color: gray;font-size: 12px;font-weight: 100;">{{current_user["name"]}}</p>
				</a>
				<a class="logout"  href="/auth/logout?next={{url_escape(request.uri)}}" >
					<div class="salir_registro_1">
					    <p class="hide-show" style="position: absolute;  z-index: 4;  width: 100%;">Log out</p> -->
						<!-- <img class="imagen-back-login show-hide" src="/{{nocache_static}}/images/background-logout.png"> -->
					<!-- </div>

				</a>
			{% end %}
		</div>

		<div>
			<div class="carritoicono clearfix show-hide">
				<img class="image" src="" data-rimage data-src="https://84static.loadingplay.com/static/images/ae98952321918ae3698f3537c36e96eb_icono_bolsa-de-compra.png"> -->
				<!-- <div class="iconos show-hide"><i class="fa icon-shopping-cart" id="icono-carro-movil"></i></div> -->
				<!-- /div>
			<div class="carritoicono clearfix hide-show"> -->
				<!-- <img class="image" src="" data-rimage data-src="https://7static.loadingplay.com/static/images/ae98952321918ae3698f3537c36e96eb_icono_bolsa-de-compra.png"> -->
				
				<!-- <div class="iconos " onclick="location.href='/cart/getbyuserid?user_id='+localStorage.userid+'&ajax=0'" ><i class="fa icon-shopping-cart" id="icono-carro-movil"></i></div>
			</div>
		</div> -->
		<!-- redes sociales -->
		 <!-- <div class="new-social-network show-hide">
			<a href="http://instagram.com/gianidafirenze" class="redes_sociales" target="_blank"><img src="/{{nocache_static}}/images/red04.png" style="  width: 40px;"></a>
			<a href="https://www.facebook.com/giani.dafirenze?fref=ts" target="_blank" class="redes_sociales"><img src="/{{nocache_static}}/images/red03.png" style="  width: 40px;"></i></a>
		</div> -->
		<!-- redes sociales -->
	<!-- </div> -->

	<div class="clearfix content-13-inch clearfix">
		<nav class="clearfix nav text-center nav-justified ">
			<div class="col-lg-8 col-lg-offset-2" >
				<a href="/store/getproductsbytags/nuevo" class="categoria-1 que-es-lo-nuevo">COLECCION</a>
				<a href="/store" class="categoria-1 zapatos">CARTERAS</a>
				<a href="/contact" class="categoria-1 contacto">ACCESORIO</a>
				<!--<a href="/store/getproductsbytags/campaña" class="categoria-1 campana">CAMPAÑA</a>-->
				<a href="/store/getproductsbytags/sale" class="categoria-1 sale">SALE</a>
			</div>
		</nav>
	</div>
</div>

