<div class="boton_busqueda_movil">
	<button id="tellmeboton"><img src="https://84static.loadingplay.com/static/images/5d9cb4e56076a6851336aab8bcdaf676_menu.png"></button>
</div>
<div id="form-register-login" class="descripcion_wrapper descripcion_opacity b_wrapper" style="display:none;">
	<img class="" src="/{{nocache_static}}/images/fondo-login-mi-mundo.png" style="width:100%; position: absolute; z-index: 0;">
	<div class="descripcion_cerrar">
		<button id="tellmeboton2"><img src="/{{nocache_static}}/img/cerrarblanco.png"></button>
	</div>
	<div class="descripcion_contenido">
		<!-- ver posibilidad de reemplazarlo por python -->
		<div class="loginpopup clearfix">
			<img class="image-back-login" src="/{{nocache_static}}/images/mi-mundo-back-login.png">
			<img class="" src="/{{nocache_static}}/images/mi-mundo-logo.png" style=" position: absolute; z-index: 1; margin-top: -38px; left: 50%; margin-left: -111;">
			<div id="tabs-container" style="    width: 90%; margin-left: 5%; top: 50px; position: absolute;">
				<ul class="tabs-menu tabs-login">
					<li class="current"><a href="#tab-1">&iquest;YA ERES PARTE DE MI MUNDO?</a></li>
					<li><a href="#tab-2">&iquest;QUIERES SER PARTE DE MI MUNDO?</a></li>
				</ul>
				<div class="tab">
					<div id="tab-1" class="tab-content tab-content-login">
						<div class="reg-strate-login clearfix">
                            <p>
                                ENTRA AQU&Iacute;
                            </p>

							<form action="/auth/login" method="post" class="form-login text-center">

								<input class="new_input" placeholder="Ingresar Correo" type="email" name="email" required >

								<input class="new_input" placeholder="Ingresar Contraseña" type="password" name="password" required>
								<div>
								    <a class="parent-link" href="/auth/recuperar-contrasena">Olvidé mi contraseña</a>
                                </div>
								<input type="hidden" name="user_id" value="" id="user_id">
								<button class="_button" type="submit"><img src="/{{nocache_static}}/images/ingresar.png"></button>
							</form>
						</div>
						<div class="reg-strate-fb clearfix">
                            <div>
                                <a>
                                    <img id="btn-registrate" src="/{{nocache_static}}/images/registrate.png">
                                </a>
                            </div>
                            <p>PUEDES REGISTRARTE POR</p>
							<a href="/auth/facebook?next={{url_escape(nxt)}}" class="element element-2 loginfb parent-link"><img class="" src="/{{nocache_static}}/images/loginfacebook.png"></a>
							<p style="width: 100%; text-align: center; font-size: 12px; color: black; margin-top: 5px;"></p>
						</div>
					</div>
					<div id="tab-2" class="tab-content tab-content-login">
						<div class="reg-strate-login clearfix reg-strate-login-1">

							<form action="/auth/registro" method="post" class="form-register">

								
								<input class="_input _input-3 new_input margin-top" placeholder="ingresar nombre" type="text" name="name" required >


							
								<input class="_input _input-4 new_input margin-top" placeholder="ingresar correo" type="email" name="email" required >

								
								<input class="_input _input-5 new_input margin-top" placeholder="ingresar contrase&ntilde;a" type="password" name="password" required >

							
								<input class="_input _input-6 new_input margin-top" placeholder="repetir contrase&ntilde;a" type="password" name="re-password" required >
								<label class="aceptar-condiciones clearfix">
									<input class="radio" type="checkbox" name="tos" style="width: auto; margin-right: 5px; margin-left: 5%;">
									<p style="font-size: 12px;"><a href="/tos" style="float: none;">Estoy de acuerdo con las condiciones</a></p>
								</label>
								<button class="_button" type="submit">COMPLETAR REGISTRO</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="cargando">
			<img class="cargando" src="/{{nocache_static}}/img/loading.gif">
		</div>
		
 </div>
</div> 
<div id="menu_movil" class="descripcion_wrapper descripcion_opacity b_wrapper" style="display:none;">
  <div class="descripcion_cerrar">
    <button id="tellmeboton2"><img src="/{{nocache_static}}/img/cerrarblanco.png"></button>
  </div>
  <div class="descripcion_contenido">
    <div class="b_logo"> 
      <img src="/{{nocache_static}}/images/giani-logo-2-gris-260x119-2.png">
      <li class="toptop"><a href="/store/getproductsbytags/nuevo" >NUEVO</a></li>
      <li><a href="/store/getproductsbytags/sale">SALE</a></li>
      <li><a href="/store">TIENDA</a></li>
      <li><a href="/store">NOSOTROS</a></li>
      <li><a href="/store/getproductsbytags/campaña">CAMPAÑA</a></li>
      <li><a href="/contact">CONTACTO</a></li>
      <ul>
       <li><a href="http://instagram.com/gianidafirenze" class="redes_sociales" target="_blank"><i class="fa icon-instagram"></i></a></li>
       <li><a href="https://www.facebook.com/giani.dafirenze?fref=ts" target="_blank" class="redes_sociales"><i class="fa icon-facebook"></i></a></li>
       <li><a href="https://twitter.com/GianidaFirenze" class="redes_sociales" target="_blank"><i class="fa icon-twitter"></i></a></li>
     </ul>
   </div>
 </div>
</div> 



