<div class="boton_busqueda_movil">
	<button id="tellmeboton"><img src="/static/img/busqueda_movil_B.png"></button>
</div>
<div id="form-register-login" class="descripcion_wrapper descripcion_opacity b_wrapper" style="display:none;">
	<div class="descripcion_cerrar">
		<button id="tellmeboton2"><img src="/static/img/cerrarblanco.png"></button>
	</div>
	<div class="descripcion_contenido">
		<!-- ver posibilidad de reemplazarlo por python -->
		<div class="loginpopup clearfix">
			<div id="tabs-container">
				<ul class="tabs-menu">
					<li class="current"><a href="#tab-1">Log in</a></li>
					<li><a href="#tab-2">Registrate</a></li>
				</ul>
				<div class="tab">
					<div id="tab-1" class="tab-content">
						<div class="reg-strate-login clearfix">

							<form action="/auth/login" method="post" class="form-login">

								<input class="_input new_input" placeholder="INGRESAR CORREO" type="email" name="email" required >

								<input class="_input new_input" placeholder="INGRESAR CONTRASEÑA" type="password" name="password" required>
								
								<a class="parent-link" href="/auth/recuperar-contrasena">olvidé mi contraseña</a>
								
<!-- 								<label class="radio-label _container clearfix">
									<input class="radio" type="checkbox" name="stay-logged" >
									<span class="point-text"><span>seguir conectado</span></span>
								</label> -->

								<input type="hidden" name="user_id" value="" id="user_id">
								<button class="_button" type="submit">INGRESAR</button>
							</form>
						</div>
						<div class="reg-strate-fb clearfix">
							<a href="/auth/facebook" class="element element-2 loginfb parent-link"><img class="" src="/static/images/loginfacebook.png"></a>
						</div>
					</div>
					<div id="tab-2" class="tab-content">
						<div class="reg-strate-login clearfix">

							<form action="/auth/registro" method="post" class="form-register">

								
								<input class="_input _input-3 new_input margin-top" placeholder="INGRESAR NOMBRE" type="text" name="name" required >


							
								<input class="_input _input-4 new_input margin-top" placeholder="INGRESAR CORREO" type="email" name="email" required >

								
								<input class="_input _input-5 new_input margin-top" placeholder="INGRESAR CONTRASEÑA" type="password" name="password" required >

							
								<input class="_input _input-6 new_input margin-top" placeholder="REPETIR CONTRASEÑA" type="password" name="re-password" required >
								<label class="aceptar-condiciones clearfix">
									<input class="radio" type="checkbox" name="tos">
									<span class="point-text"><font color="#4d4d4d"><span style="font-size: 12px; line-height: 16px;color: white;">Estoy de acuerdo con las condiciones</span></font></span>
								</label>
								<button class="_button" type="submit">COMPLETAR REGISTRO</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="cargando hide">
			<img class="cargando" src="/static/img/loading.gif">
		</div>
		
 </div>
</div> 
<div id="menu_movil" class="descripcion_wrapper descripcion_opacity b_wrapper" style="display:none;">
  <div class="descripcion_cerrar">
    <button id="tellmeboton2"><img src="/static/img/cerrarblanco.png"></button>
  </div>
  <div class="descripcion_contenido">
    <div class="b_logo"> 
      <img src="/static/images/giani-logo-2-gris-260x119-2.png">
      <li class="toptop"><a href="/store/getproductsbytags?tags=lo nuevo" >¿QUE ES LO NUEVO?</a></li>
      <li><a href="/store" class="">ZAPATOS</a></li>
      <li><a href="/store" class="">NOSOTROS</a></li>
      <li><a href="/store/getproductsbytags?tags=campaña" class="">CAMPAÑA</a></li>
      <li><a href="/contact" class="">CONTACTO</a></li>
      <ul>
       <li><a href="http://instagram.com/gianidafirenze" class="redes_sociales" target="_blank"><i class="fa icon-instagram"></i></a></li>
       <li><a href="https://www.facebook.com/giani.dafirenze?fref=ts" target="_blank" class="redes_sociales"><i class="fa icon-facebook"></i></a></li>
       <li><a href="https://twitter.com/GianidaFirenze" class="redes_sociales" target="_blank"><i class="fa icon-twitter"></i></a></li>
     </ul>
   </div>
 </div>
</div> 



