 <div class="boton_busqueda_movil">
  <button id="tellmeboton"><img src="/static/img/busqueda_movil_B.png"></button>
</div>
<div id="div4" class="descripcion_wrapper descripcion_opacity b_wrapper" style="display:none;">
  <div class="descripcion_cerrar">
    <button id="tellmeboton2"><img src="/static/img/cerrarblanco.png"></button>
  </div>
  <div class="descripcion_contenido">
    <div class="b_logo"> 
      <img src="/static/images/giani-logo-2-gris-260x119-2.png">
      <li class="toptop"><a href="/store/getproductsbytags?tags=lo nuevo" >¿QUE ES LO NUEVO?</a></li>
      <li><a href="/store" class="">ZAPATOS</a></li>
      <li><a href="/store" class="">NOSOTROS</a></li>
      <li><a href="/store/getproductsbytags?tags=campaña" class="">CAMPAÑA</a></li>
      <li><a href="/contact" class="">CONTACTO</a></li>
      <ul>
       <li><a href="http://instagram.com/gianidafirenze" class="redes_sociales" target="_blank"><i class="fa icon-instagram"></i></a></li>
       <li><a href="https://www.facebook.com/giani.dafirenze?fref=ts" target="_blank" class="redes_sociales"><i class="fa icon-facebook"></i></a></li>
       <li><a href="https://twitter.com/GianidaFirenze" class="redes_sociales" target="_blank"><i class="fa icon-twitter"></i></a></li>
     </ul>
   </div>
 </div>
</div> 