    <div class="swiper-container content-13-inch" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide"> 
                <a href="/store"><img class="slider" u="image" src="https://static.loadingplay.com/static/images/200_30e3943d5dc195e5a924db1fbbb4556f_Slide1.png" lp-load-big="https://static.loadingplay.com/static/images/30e3943d5dc195e5a924db1fbbb4556f_Slide1.png" /></a>
	            <img class="slider-small" src="/static/images/Banner-movil1.png">
	        </div>
            <div class="swiper-slide">
                <img class="slider"u="image" src="https://static.loadingplay.com/static/images/200_3f244a3e3367d3612ae536cf54a2f15c_Slide2.png" lp-load-big="https://static.loadingplay.com/static/images/3f244a3e3367d3612ae536cf54a2f15c_Slide2.png" />
                <img class="slider-small" src="/static/images/Banner-movil2.png">
            </div> 
            <div class="swiper-slide">
                <img class="slider"u="image" src="https://static.loadingplay.com/static/images/200_c394b518f4d69e2e4f599d938e333fe9_Slide3.png" lp-load-big="https://static.loadingplay.com/static/images/c394b518f4d69e2e4f599d938e333fe9_Slide3.png" />
	            <img class="slider-small" src="/static/images/Banner-movil3.png">
	        </div> 
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <!-- js slider home -->
    <script src="/{{nocache_static}}/js/swiper.jquery.min.js"></script>
    <script>
    //slider home
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplay: 5000,
        loop: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev'
    });
    </script>