    <div class="swiper-container content-13-inch" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide"> 
                <a href="/store"><img class="slider" u="image" src="https://static.loadingplay.com/static/images/200_d567cf3c1b600cdfade292740fdf4485_Slide_1.png" lp-load-big="https://static.loadingplay.com/static/images/d567cf3c1b600cdfade292740fdf4485_Slide_1.png" /></a>
	            <img class="slider-small" src="/static/images/Banner-movil1.png">
	        </div>
            <div class="swiper-slide">
                <img class="slider"u="image" src="https://static.loadingplay.com/static/images/200_6268dec51b4729e5f40033d9417559eb_.png" lp-load-big="https://static.loadingplay.com/static/images/6268dec51b4729e5f40033d9417559eb_.png" />
                <img class="slider-small" src="/static/images/Banner-movil2.png">
            </div> 
            <div class="swiper-slide">
                <img class="slider"u="image" src="https://static.loadingplay.com/static/images/200_7b8e2f318e7ce198ee455d5be531e273_slide1.png" lp-load-big="https://static.loadingplay.com/static/images/7b8e2f318e7ce198ee455d5be531e273_slide1.png" />
	            <img class="slider-small" src="/static/images/Banner-movil3.png">
	        </div> 
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <!-- js slider home -->
    <script src="/{{nocache_static}}/js/swiper.jquery.min.js"></script>
    <script>
    //slider home
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplay: 5000,
        loop: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev'
    });
    </script>