<form action="http://cgiani.ondev.today/cgi-bin/tbk_bp_pago.cgi" method="post" id="webpayplus">
  <input type="submit" class="button" id="submit_webpayplus_payment_form" value="Pagar" />

  <input type="text" name="TBK_TIPO_TRANSACCION" value="TR_NORMAL" />
  <input type="text" name="TBK_MONTO" value="300000" />
  <input type="text" name="TBK_ORDEN_COMPRA" value="3212" />
  <input type="text" name="TBK_ID_SESION" value="20141007125538" />
  <input type="text" name="TBK_URL_EXITO" value="http://giani.ondev.today" />
  <input type="text" name="TBK_URL_FRACASO" value="http://giani.ondev.today/store" />

</form>  