    <div class="swiper-container content-13-inch" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide"> 
                <a href="/store">
                {% if data['banner1'] is not None %}
                <img class="slider" u="image" src="{{data['banner1']['thumb_200']}}" lp-load-big="{{data['banner1']['image']}}" /></a>
                {% end %}
                {% if data['banner1_movil'] is not None %}
	            <img class="slider-small" src="{{data['banner1_movil']['image']}}" lp-load-big="{{data['banner1_movil']['image']}}">
                {% end %}
	        </div>
            <div class="swiper-slide">
                {% if data['banner2'] is not None %}
                <img class="slider" u="image" src="{{data['banner2']['thumb_200']}}" lp-load-big="{{data['banner2']['image']}}" />
                {% end %}
                {% if data['banner2_movil'] is not None %}
                <img class="slider-small" src="{{data['banner2_movil']['image']}}" lp-load-big="{{data['banner2_movil']['image']}}">
                {% end %}
            </div>
            <div class="swiper-slide">
                {% if data['banner3'] is not None %}
                <img class="slider" u="image" src="{{data['banner3']['thumb_200']}}" lp-load-big="{{data['banner3']['image']}}" />
                {% end %}
                {% if data['banner3_movil'] is not None %}
	            <img class="slider-small" src="{{data['banner3_movil']['image']}}" lp-load-big="{{data['banner3_movil']['image']}}">
                {% end %}
	        </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <!-- js slider home -->
    <script src="/{{nocache_static}}/js/swiper.jquery.min.js"></script>
    <script>
    //slider home
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplay: 5000,
        loop: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev'
    });
    </script>