  <!-- <div class="carritoproductos clearfix"> -->
    <div class="flecha clearfix">
      <img class="image" src="/static/images/flecha-15x15.png" data-rimage data-src="/static/images/flecha-15x15.png">
    </div>
    <div class="carritoinfo clearfix">
      {% if int(suma) > 0 %}
        {% for d in data %}
          <div class="productosencola clearfix">
            <div class="fotoproductoencola">
              <img class="image" src="/static/images/producto-70x70.png" data-rimage data-src="/static/images/producto-70x70.png">
            </div>
            <p class="nombreproductoencola">{{d["name"]}}</p>
            <p class="color">color: {{d["color"]}}</p>
            <button class="eliminarproducto" cart-id="{{d['id']}}"><img src="/static/images/carritoeliminar.png"></button>
            <p class="talla">talla {{d["size"]}}</p>
            <p class="cantidad">x{{d["quantity"]}}</p>
            <p class="precio">$ {{money_format(d["subtotal"])}}</p>
          </div>
        {% end %}
        <div class="total clearfix">
          <p class="totalcarrrito">total &nbsp;$ {{money_format(suma)}}</p>
        </div>
        <div class="acciones clearfix">
          <button class="iralcarro" onclick="location.href='/cart/getbyuserid?user_id='+localStorage.user_id+'&ajax=0'">
            <p>ir al carro</p>
            <p></p>
          </button>
          <button class="comprar">
            <p>comprar</p>
            <p></p>
          </button>
        </div>
      {% else %}
        <div class="total clearfix">
          <p style="width: 100%;text-align: center;margin: 37px auto;height: auto; color:gray;">Ups! Aún no has agregado productos en el carro</p>
        </div>
      {% end %}
    </div>
  <!-- </div> -->