{% extends "../base.html" %}
{% block title %}
Giani Da Firenze - Carro de Compra
{% end %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/bootstrap/style.css">
<link rel="stylesheet" href="/static/css/bootstrap/skin-10.css">
{% end %}

{% block javascript %}
<script src="/static/js/detalle-producto.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.touchspin.js"></script>
{% end %}

{% block body %}

<div class="container main-container"> 
  <div class="row step-margin-top">
    <div class="col-lg-9 col-md-9 col-sm-7">
      <div class="row userInfo">
        <div class="col-xs-12 col-sm-12">
          <div class="cartContent w100">
            <table class="cartTable table-responsive" style="width:100%">
              <tbody>
              
                <tr class="CartProduct cartTableHeader">
                  <td style="width:15%"> Producto </td>
                  <td style="width:40%">Detalle</td>
                  <td style="width:10%" class="delete">&nbsp;</td>
                  <td style="width:10%">Ctd</td>
                  <!-- <td style="width:10%">Descuento</td> -->
                  <td style="width:15%">Total</td>
                </tr>
                
                {% for d in data %}
                <tr class="CartProduct">
                  <td  class="CartProductThumb"><div> <a href="/product/{{d['category']}}/{{d['name']}}/{{d['color']}}"><img src="{{url_bodega}}/image/{{d['image']}}?mw=86" alt="img"></a> </div></td>
                  <td>
                    <div class="CartDescription">
                      <h4> <a href="/product/{{d['category']}}/{{d['name']}}/{{d['color']}}">{{d["name"]}}</a> </h4>
                      <span class="size">{{d["size"]}}</span>
                      <div class="price"> <span>$ {{money_format(d["sell_price"])}}</span></div>
                    </div>
                  </td>
                  <td class="delete"><a title="Delete" class="borrarproducto" cart-id="{{d['id']}}"> <i class="glyphicon glyphicon-trash fa-2x"></i></a></td>
                  <td><input id="demo_vertical2" type="text" value="{{ d['quantity'] }}" cart-id="{{d['id']}}" name="demo_vertical2"><!-- <input class="quanitySniper" type="text" value="{{d['quantity']}}" name="quanitySniper"> --></td>
                  <!-- <td>0</td> -->
                  <td class="price">${{money_format(d["subtotal"])}}</td>
                </tr>
                {% end %}
              </tbody>
            </table>
          </div>
          <!--cartContent-->
          
          <div class="cartFooter w100">
            <div class="box-footer">
              <div class="pull-left"> <a href="/store" class="btn btn-default"> <i class="fa fa-arrow-left"></i> &nbsp; Continuar comprando </a> </div>
              <div class="pull-right">
                <!-- <button type="submit" class="btn btn-default"> <i class="fa fa-undo"></i> &nbsp; Actualizar carro </button> -->
              </div>
            </div>
          </div> 
          <!--/ cartFooter --> 
          
        </div>
      </div>
      <!--/row end--> 
      
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
      <div class="contentBox" >
        <div class="w100 costDetails">
          <div class="table-block" id="order-detail-content"> 
          {% if suma > 0 %}
          <a class="btn btn-primary btn-lg btn-block " title="checkout" href="/auth/checkout?next={{ url_escape('/checkout/address') }}" style="margin-bottom:20px"> Pagar &nbsp; <i class="fa fa-arrow-right"></i> </a>
          {% end %}
            <div class="w100 cartMiniTable">
              <table id="cart-summary" class="std table">
                <tbody>
                  <tr >
                    <td>Total productos</td>
                    <td class="price" >${{suma}}</td>
                  </tr>
                  <!-- <tr  style="">
                    <td>Envío</td>
                    <td class="price" ><span class="success">Envío gratis!</span></td>
                  </tr> --> 
                  <tr >
                    <td > Total </td>
                    <td class=" site-color" id="total-price">${{suma}}</td>
                  </tr>
<!--                   <tr >
                    <td colspan="2"  ><div class="input-append couponForm">
                        <input class="col-lg-8" id="appendedInputButton" type="text"  placeholder="Coupon code" >
                        <button class="col-lg-4 btn btn-success" type="button">Apply!</button>
                      </div></td>
                  </tr> -->
                </tbody>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- End popular --> 
      
    </div>
    <!--/rightSidebar--> 
    
  </div><!--/row-->
  
  <div style="clear:both"></div>
</div><!-- /.main-container -->
<script>
  $("input[name='demo_vertical2']").TouchSpin({
    verticalbuttons: true,
    verticalupclass: 'glyphicon glyphicon-plus',
    verticaldownclass: 'glyphicon glyphicon-minus',
    min: 1
  }).on('change', function() {
    var cart_id = $(this).attr("cart-id");
    var quantity = $(this).val();
    $.ajax({
      type: 'post',
      url: '/cart/update',
      data: 'cart_id=' + cart_id + '&quantity=' + quantity,
      dataType: 'json',
      success: function(response) {
        var response_json = $.parseJSON(JSON.stringify(response));
        if ("error" in response_json) {
          alert(response_json["error"]);
        } else {
          alert("ok");
        }
      }
    });
  });
</script>
{% end %}

