{% extends "../base.html" %}
{% block title %}
Giani Da Firenze - Carro de Compra
{% end %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/bootstrap/style.css">
<link rel="stylesheet" href="/static/css/bootstrap/skin-10.css">
<link rel="stylesheet" href="/static/css/bootstrap/jquery.minimalect.min.css">
{% end %}

{% block javascript %}
<script src="/static/js/detalle-producto.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.touchspin.js"></script>
<script src="/static/js/bootstrap/jquery.minimalect.min.js"></script>
<script src="/static/js/minimal-select.js"></script>
{% end %}

{% block body %}
<div class="container main-container">
  
<!--   <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7">
      <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-shopping-cart"></i> Checkout</span></h1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
      <h4 class="caps"><a href="category.html"><i class="fa fa-chevron-left"></i> Back to shopping </a></h4>
    </div>
  </div> -->
  
  <div class="row step-margin-top">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="row userInfo">
      <form id="checkout-address" action="/checkout/shipping" method="post">
        <div class="col-xs-12 col-sm-12">
          <div class="w100 clearfix">
            {% include order.step.html %}
            <!--/.orderStep end--> 
          </div>
          <div class="col-xs-12 col-sm-12">
            <label class="checkbox-inline" for="checkboxes-0">
              <input name="same_address" id="same_address" type="checkbox">
              Mi dirección de despacho y mi dirección de facturación son la misma. </label>
            <hr>
          </div>

          <div class="w100 clearfix" id="formulario_direccion">
            <div class="row userInfo">
              <div class="col-lg-12">
                <h2 class="block-title-2"> Llene el formulario para agregar una direccion de facturación. </h2>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="address">Seleccione una direcci&oacute;n</label>
                  <select name="contact_id" class="form-control" id="address">
                    <option value="">Agregar una nueva</option>
                    {% for c in contactos %}
                      {% if selected_address == c['id'] %}
                        <option value="{{c['id']}}" selected>{{c['address']}}</option>
                      {% else %}
                        <option value="{{c['id']}}">{{c['address']}}</option>
                      {% end %}
                    {% end %}
                  </select>
                </div>
                <div class="form-group required">
                  <label for="InputName">Nombre <sup>*</sup> </label>
                  <input required type="text" class="form-control" id="InputName" placeholder="Nombre" name="name">
                </div>
                <div class="form-group required">
                  <label for="InputLastName">Apellido <sup>*</sup> </label>
                  <input required type="text" class="form-control" id="InputLastName" placeholder="Apellido" name="lastname">
                </div>
                <div class="form-group required">
                  <label for="InputEmail">Email </label>
                  <input type="text" class="form-control" id="InputEmail" placeholder="Email" name="email">
                </div>
                <div class="form-group required">
                    <label for="InputRut">Rut </label>
                    <input type="text" class="form-control" id="InputRut" placeholder="Rut" name="rut">
                  </div>
                <div class="form-group required">
                  <label for="InputAddress">Dirección <sup>*</sup> </label>
                  <input required type="text" class="form-control" id="InputAddress" placeholder="Dirección" name="address">
                </div>
                <div class="form-group required">
                  <label for="InputTown">Comuna <sup>*</sup> </label>
                  <input required type="text" class="form-control" id="InputTown" placeholder="Comuna" value="" name="town">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group required">
                  <label for="InputCity">Ciudad <sup>*</sup> </label>
                  <input required type="text" class="form-control" id="InputCity" placeholder="Ciudad" name="city">
                </div>
                <div class="form-group required">
                  <label for="InputZip">Código postal <sup>*</sup> </label>
                  <input required type="text" class="form-control" id="InputZip" placeholder="Código postal" name="zip_code">
                </div>
                <div class="form-group">
                  <label for="InputAdditionalInformation">Información adicional</label>
                  <textarea rows="3" cols="26" name="InputAdditionalInformation" class="form-control" id="other"></textarea>
                </div>
                <div class="form-group required">
                  <label for="InputMobile">Teléfono móvil <sup>*</sup></label>
                  <input  required type="tel"  name="telephone" class="form-control" id="InputMobile">
                </div>
              </div>
            </div>
            <!--/row end--> 
            
          </div>
          <div class="cartFooter w100">
            <div class="box-footer">
            
              <div class="pull-left"> <a class="btn btn-default" href="/store"> <i class="fa fa-arrow-left"></i> &nbsp; Volver a la tienda </a> </div>
              <!-- <div class="pull-left"> <a class="btn btn-default" href="/checkout/address"> <i class="fa fa-arrow-left"></i> &nbsp; Dirección </a> </div> -->
              <div class="pull-right"> 
              <a onclick="enviarFormulario('checkout-address')" class="btn btn-primary btn-small " > Despacho &nbsp; <i class="fa fa-arrow-circle-right"></i> </a> 			              </div>
            </div>
          </div>
          <!--/ cartFooter --> 
          
        </div>
        </form>
      </div>
      <!--/row end--> 
      
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar">
      <div class="w100 cartMiniTable contentBox">
        <table id="cart-summary" class="std table">
          <tbody>
             <!-- <tr >
              <td>Total productos</td>
              <td class="price" >0</td>
            </tr>
            <tr  style="">
              <td>Envío</td>
              <td class="price" ><span class="success">Envío gratis!</span></td>
            </tr>
            <tr class="cart-total-price ">
              <td>Total (+impuestos)</td>
              <td class="price" >0</td>
            </tr>
            <tr >
              <td>Total impuestos</td>
              <td class="price" id="total-tax">$0.00</td>
            </tr>
            <tr >
              <td > Total </td>
              <td class=" site-color" id="total-price">0</td>
            </tr> -->

            <tr>
              <td>Total productos</td>
              <td class="price">{{money_format(suma)}}</td>
            </tr>
            <!-- <tr style="">
              <td>Envío</td>
              <td class="price" ><span class="success">Envío gratis!</span></td>
            </tr> -->
<!--             <trclass="cart-total-price ">
              <td>Total (+impuestos)</td>
              <td class="price" >0</td>
            </tr>
            <tr>
              <td>Total impuestos</td>
              <td class="price" id="total-tax">$0.00</td>
            </tr> -->
            <tr>
              <td > Total </td>
              <td class=" site-color" id="total-price">{{money_format(suma)}}</td>
            </tr>


          </tbody>
          <tbody>
          </tbody>
        </table>
      </div>
      <!--  /cartMiniTable--> 
      
    </div>
    <!--/rightSidebar--> 
    
  </div>
  <!--/row-->
  
  <div style="clear:both"></div>
</div>
<!-- /.main-container-->
{% end %}
