{% extends "../base.html" %}
{% block title %}
Giani Da Firenze - Home
{% end %}

{% block css %}
<link rel="stylesheet" href="/{{nocache_static}}/css/index.css">
<link rel="stylesheet" href="/{{nocache_static}}/css/recuperar_c.css">
<link href='http://fonts.googleapis.com/css?family=Vidaloka' rel='stylesheet' type='text/css'>
{% end %}

{% block body %}
<div class="contenedor_formularios">
    <div class="mensaje-error_succes">
        <center>
            <b>TRANSACCI&Oacute;N FRACASADA !!!</b>
            <table>
                <tr>
                    <td><h3>Orden N&uacute;mero {{TBK_ORDEN_COMPRA}}</h3></td>
                </tr>
                <tr>
                    <th>Las posibles causas de este rechazo son:</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Error en el ingreso de los datos de su tarjeta de cr&eacute;dito o d&eacute;bito (fecha y/o c&oacute;digo de seguridad).</li>
                            <li>Su tarjeta de cr&eacute;dito o d&eacute;bito no cuenta con el cupo necesario para cancelar la compra.</li>
                            <li>Tarjeta aún no habilitada en el sistema financiero. </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </center>
        <form action="{{PATHSUBMIT}}" method="get">
            <center>
                <input type="submit" value="Volver a Inicio">
            </center>
        </form>
    </div>
</div>
{% end %}
{% block javascript %}{% end %}