{% extends "../base.html" %}
{% block title %}
Giani Da Firenze - Home
{% end %}

{% block css %}
<link rel="stylesheet" href="/static/css/store.css">
<link rel="stylesheet" href="/static/css/simplePagination.css">
{% end %}

{% block body %}
<div class="cuerpo clearfix">
    <div class="slider">
      <img class="slide" src="/static/images/baner.png" data-rimage data-src="/static/images/baner.png">
    </div>
    <div class="slider-small">
      <img class="slide" src="/static/images/banermovil.png" data-rimage data-src="/static/images/banermovil.png">
    </div>
    <div class="contenedor-productos clearfix" id="contenedor">
      <div class="cuerpo-categorias clearfix">
        <p class="titulo-categorias"><span>CATEGORÍAS</span></p>
        <div class="categorias clearfix">
        <div class="espacio_superior"></div>
          {% for t in tags %}
          <a class="categoria page-link activo" href="/store/getproductsbytags?tags={{t['name']}}#contenedor">{{t['name']}}</a>
          {% end %}
        </div>
      </div>
      <div id="ajax_productos">
        {% for d in data %}
        <a href="/product/{{d['category']}}/{{d['name']}}/{{d['color']}}">
          <div class="cuerpo-producto clearfix contenedor_productos">
            <div class="producto-foto">
              <img class="foto-producto" src="{{url_bodega}}/image/{{d['image']}}?mw=263" data-rimage data-src="{{url_bodega}}/image/{{d['image']}}?mw=263">
              <!-- <img class="foto-producto" src="http://bgiani.ondev.today/image/0_GDF-OI14-7841-20-C1.png?mw=263" data-rimage data-src="http://bgiani.ondev.today/image/0_GDF-OI14-7841-20-C1.png?mw=263"> -->
              
            </div>
            <div class="producto-info clearfix">
              <p class="producto-nombre">{{d['name']}}</p>
              <p class="producto-precio">$ {{money_format(d['sell_price'])}}</p>
            </div>

            <div class="sobre-producto">
              <div class="boton_comprar"><li><a href="/product/{{d['category']}}/{{d['name']}}/{{d['color']}}">COMPRAR</a></li></div>
            </div>
            <span class="_button">
              <p></p>
            </span>
            
          </div>
        </a>
        {% end %}

        <div class="paginador clearfix">
          <!-- <p class="paginas">
            <span>&lt;</span> &nbsp; 
            <a href="/store?page=1"><span>1</span></a> &nbsp; 
            <a href="/store?page=2"><span>2</span></a> &nbsp; 
            <a href="/store?page=3"><span>3</span></a> &nbsp;
            <span>... &gt;</span>
          </p> -->
        </div>
      </div>
    </div>
  </div>
{% end %}
{% block javascript %}
<script src="/static/js/jquery.simplePagination.js"></script>
<script>
    $(".paginador").pagination({
        items: {{items}},
        itemsOnPage: 7,
        prevText: '<',
        nextText: '>',
        currentPage: {{page}},
        hrefTextPrefix:'?page=',
        hrefTextSuffix: '#contenedor'
    });
</script>
{% end %}