<!-- inicio menu-material -->
<div id="menu-m" class="menu-material"><i class="icon-pencil"></i>
  <div class="cover-material"></div>
  <form method="get" action="/store/filter" id="filtro">
    <ul class="ul-filtro">
     <!-- tallas -->
      <li style="border-bottom: 1px solid rgb(193, 193, 193)">
        <span>¿Cual es tu talla?</span> 
      </li>
      {% for t in tallas %}
      <li class="menu-material-tallas "><lavel><input type="checkbox" name="size" value="{{t['id']}}">{{t['name']}}</lavel></li>
      {% end %}
      <!-- tallas -->
      <!-- enlacen categorías -->
      <li style="border-bottom: 1px solid rgb(193, 193, 193);border-top: 1px solid rgb(193, 193, 193)"><span>Categorias</span></li>
      {% for t in tags %}
        <li><input type="checkbox" name="categories" value="{{t['id']}}"><a class="categoria page-link activo" href="/store/getproductsbytags/{{t['name'].replace(" ","_")}}?ajax=1#contenedor">{{t['name']}}</a></li>
      {% end %}
      <!-- enlacen categorías -->
      {{tallas}}
      <!-- boton para filtrar -->
      <li><button type="button" onclick="filtrar($('#filtro'))">filtrar</button></li>
      <!-- boton para filtrar -->
    </ul>
  </form>
</div>
<!-- fin menu-material -->