{% extends "../base.html" %}
{% block title %}
Giani Da Firenze - Home
{% end %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/recuperar_c.css">
<link href='http://fonts.googleapis.com/css?family=Vidaloka' rel='stylesheet' type='text/css'>
{% end %}

{% block body %}
<div class="contenedor_formularios">
<div class="mensaje-error_succes">
    <!-- mensaje pago tarjeta -->
	
     <!-- mensaje pago transferencia -->
    
    

    {% if webpay == "si" %}
        <h1>gracias por comprar en Giani Da firenze, procederemos con el despacho de tu pedido, te mantendremos informado del status.</h1>
        <p>Cualquier duda o consulta escríbenos a <a><span>contacto@gianidafirenze.cl</span></a></p>
    	<p align="center" style="margin: 20px;">Transaccion Normal - EXITO</p>
        <table align="center">
            <tr>
                <td align="left" width="100%" colspan="2">
                    <h3 style="width:100%; text-align:center; margin-top:40px; margin-bottom: 40px;">El pago se ha realizado con &eacute;xito.
                    </h3>
                </td>
            </tr>
        </table>
        <table align="center">
            <tr>
                <th align="left" colspan="2"> <h3>Datos de la Compra:</h3>
                </th>
            </tr>
            <tr>
                <td align="left" width="100%" >

                        <tr valign="top">
                            <th align="left">Nombre Comercio:</th>
                            <td align="left">Giani Da Firenze</td>
                        </tr>
                        <tr valign="top">
                            <th align="left">Url Comercio:</th>
                            <td align="left">http://gianidafirenze.cl/</td>
                        </tr>

                        <tr valign="top">
                            <th align="left">Comprador:</th>
                            <td align="left">{{current_user["name"]}}</td>
                        </tr>
                        
                        <tr valign="top">
                            <th align="left">Nro Orden:</th>
                            <td align="left">{{data["TBK_ORDEN_COMPRA"]}}</td>
                        </tr>
                        <tr valign="top">
                            <th align="left">Monto (pesos chilenos):</th>
                            <td align="left">${{money_format(data["TBK_MONTO"] / 100)}}</td>
                        </tr>
                    
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width:45%;text-align:left;">Producto</td>
                <td style="width:10%;text-align:center;">Talla</td>
                <td style="width:15%;text-align:center;">Cantidad</td>
                <td style="width:15%;text-align:right;">Precio Unitario</td>
                <td style="width:15%;text-align: right;">Subtotal</td>
            </tr>
            {% set suma = 0 %}
            {% for d in detalle %}
            <tr>
                <td style="width:45%">{{d["name"]}}</td>
                <td style="width:10%;text-align:center;">{{d["size"]}}</td>
                <td style="width:15%;text-align:center;">{{d["quantity"]}}</td>
                <td style="width:15%;text-align:right;">
                    {% if d["promotion_price"] > 0 and d["promotion_price"] >= int(d["subtotal"]) %}
                        ${{money_format(d["promotion_price"])}}
                    {% else %}
                        ${{money_format(d["sell_price"])}}
                    {% end %}
                    
                </td>
                <td style="width:15%;text-align:right;">${{money_format(d["subtotal"])}}</td>
            </tr>
            {% set suma = d["subtotal"] + suma %}
            {% end %}
            <tr>
                <td colspan="3"></td>
                <td style="text-align: right; border-top: 1px solid grey;">Total Productos</td>
                <td style="text-align: right; border-top: 1px solid grey;">
                    ${{money_format(suma)}}
                </td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td style="text-align: right;">Costo Env&iacute;o</td>
                <td style="text-align: right;">
                    {% if int(order.shipping) > 0 %}
                    ${{money_format(order.shipping)}}
                    {% else %}
                    Gratis
                    {% end %}
                </td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td style="text-align: right;">Total</td>
                <td style="text-align: right;">${{money_format(int(data["TBK_MONTO"] / 100))}}</td>
            </tr>
        </table>
        <table align="center">
            <tr>
                <th align="left" width="100%" colspan="2">
                    <h3 >Datos de la Transacci&oacute;n:
                    </h3>
                </th>
            </tr>
            <tr>
                <td align="left" width="100%">
                        <tr valign="top" >
                            <th align="left">Codigo Autorizaci&oacute;n:</th>
                            <td align="left">{{data["TBK_CODIGO_AUTORIZACION"]}}</td>
                        </tr>
                        <tr valign="top" >
                            <th align="left">Fecha Transacci&oacute;n:</th>
                            <td align="left">{{data["TBK_FECHA_TRANSACCION"]}}</td>
                        </tr>
                        <tr valign="top" >
                            <th align="left">Hora Transacci&oacute;n:</th>
                            <td align="left">{{data["TBK_HORA_TRANSACCION"]}}</td>
                        </tr>
                        <tr valign="top" >
                            <th align="left">4 &Uacute;ltimos d&iacute;gitos de la tarjeta:</th>
                            <td align="left">XXXXXXXXXXXX{{data["TBK_FINAL_NUMERO_TARJETA"]}}</td>
                        </tr>
                        <tr valign="top">
                            <th align="left">Tipo Transacci&oacute;n:</th>
                            <td align="left">Venta</td>
                        </tr>
                        <tr valign="top" >
                            <th align="left">Tipo Pago:</th> 
                            <td align="left">{{data["TBK_TIPO_PAGO"]}}</td>
                        </tr>
                        <tr valign="top" >
                            <th align="left">Tipo de cuotas:</th> 
                            <td align="left">

                                {% if data["TBK_TIPO_CUOTA"] == "VN" %}
                                Sin Cuotas
                                {% elif data["TBK_TIPO_CUOTA"] == "VC" %}
                                Cuotas Normales
                                {% elif data["TBK_TIPO_CUOTA"] == "SI" %}
                                Sin inter&eacute;s
                                {% elif data["TBK_TIPO_CUOTA"] == "CI" %}
                                Cuotas Comercio
                                {% elif data["TBK_TIPO_CUOTA"] == "VD" %}
                                D&eacute;bito
                                {% end %}
                            </td>
                        </tr>
                        <tr valign="top" >
                            <th align="left">N&uacute;mero cuotas:</th> 
                            <td align="left">{{data["TBK_NUMERO_CUOTAS"]}}</td>
                        </tr>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>“En caso de requerir devoluciones o reembolsos favor de contact&aacute;ctenos al tel&eacute;fono (+56) 2 2555 0328”.</td>
            </tr>
        </table>
    <form action="{{pathSubmit}}" method="get">
        <center>
            <input type="submit" value="Volver a Inicio">
        </center>
    </form>
    {% else %}
        <h1>Gracias por comprar en Giani dafirenze, confirmameremos su deposito, y procederemos con el despacho.  Le estaremos informando el status de su pedido</h1>
        <form action="/" method="get">
        <center>
            <input type="submit" value="Volver a Inicio">
        </center>
    </form>
    {% end %}
</div>
</div>
{% end %}
{% block javascript %}{% end %}