{% extends "../base.html" %}
{% block title %}
Giani Da Firenze - Home
{% end %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/recuperar_c.css">
<link href='http://fonts.googleapis.com/css?family=Vidaloka' rel='stylesheet' type='text/css'>
{% end %}

{% block body %}
<div class="contenedor_formularios">
<div class="mensaje-error size">
	<h1>Gracias por comprar en Giani da Firenze, pronto nos pondremos en contacto contigo.</h1>

    {% if webpay == "si" %}
    	<p align="center">Transaccion Normal - EXITO</p>
        <table align="center">
            <tr>
                <td align=""left"" width="100%">El pago se ha realizado con &eacute;xito.</td>
            </tr>
            <tr>
                <td align=""left"" width="100%">Datos de la Compra:</td>
            </tr>
            <tr>
                <td align="left" width="100%" >
                    <table>
                        <tr valign="top">
                            <th align="left">Nro Orden:</th>
                            <td align="left">{{data["TBK_ORDEN_COMPRA"]}}</td>
                            <th align="left">Monto (pesos chilenos):</th>
                            <td align="left">{{data["TBK_MONTO"] / 100}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr><td align="left" width="100%"><h3>Datos de la Transacci&oacute;n:</h3></td>
            </tr>
            <tr>
                <td align="left" width="100%">
                    <table width="90%" border="0" align="center">
                        <tr valign="top" >
                            <th align="left">Respuesta Transacci&oacute;n:</th>
                            <td align="left">{{data["TBK_RESPUESTA"]}}</td>
                            <th align="left">Codigo Autorizaci&oacute;n:</th>
                            <td align="left">{{data["TBK_CODIGO_AUTORIZACION"]}}</td>
                            <th align="left">Fecha Contable:</th>
                            <td align="left">{{data["TBK_FECHA_CONTABLE"]}}</td>
                        </tr>
                        <tr valign="top" >
                            <th align="left">Fecha Transacci&oacute;n:</th>
                            <td align="left">{{data["TBK_FECHA_TRANSACCION"]}}</td>
                            <th align="left">Hora Transacci&oacute;n:</th>
                            <td align="left">{{data["TBK_HORA_TRANSACCION"]}}</td>
                            <th align="left">Tarjeta de Cr&eacute;dito:</th>
                            <td align="left">XXXXXXXXXXXX{{data["TBK_FINAL_NUMERO_TARJETA"]}}</td>
                        </tr>
                        <tr valign="top">
                            <th align="left">Tipo Transacci&oacute;n:</th>
                            <td align="left">{{data["TBK_TIPO_TRANSACCION"]}}</td>
                            <th align="left">Tipo Pago:</th> 
                            <td align="left">{{data["TBK_TIPO_PAGO"]}}</td>
                            <th align="left">Numero cuotas:</th> 
                            <td align="left">{{data["TBK_NUMERO_CUOTAS"]}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    <form action="{{pathSubmit}}" method="get">
        <center>
            <input type="submit" value="Volver a Inicio">
        </center>
    </form>
    {% end %}
</div>
</div>
{% end %}
{% block javascript %}{% end %}