{% extends "../base.html" %}
{% block title %}Giani Da Firenze - Home{% end %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/recuperar_c.css">
{% end %}

{% block body %}
<div class="contenedor_formularios">
<div class="contenedor_form_1 contenedor_form2">
<form action="/auth/nuevaclave/{{ id }}" method="post">
	<h1>nueva clave</h1>
	<input type="hidden" name="id" value="{{ id }}"  />
	<input type="password" name="claveant" placeholder="contrasñea antigua" required />
	<input type="password" name="clavenva" placeholder="nueva contraseña" required />
	<input type="password" name="clavenvarep" placeholder="repita nueva contraseña" required />
	<button type="submit" >Recuperar contraseña</button>
</form>
</div>
</div>
{% end %}
{% block javascript %}{% end %}