{% extends "../base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/contacto.css">
{% end %}
{% block body %}
<div class="contenedor-contacto">
	<div class="contenedor-contacto-form">
		<form action="" method="" class="contacto-form">
			<h1>Contáctanos</h1>
			<div class="contacto-centrar">

				<!--  Email  -->
				<p class=""></p>
				<input class="" placeholder="NOMBRE" type="" name="" required >


				<!--  Correo  -->
				<p class=""></p>
				<input class="" placeholder="CORREO" type="" name="" required>

				<!--  Asunto  -->
				<p class=""></p>
				<input class="" placeholder="ASUNTO" type="" name="" required>

				<textarea class="" placeholder="DÉJANOS TU MENSAJE"></textarea>

				<button class="" type="submit">ENVIAR</button>
			</div>
		</form>
	</div>
</div>
{% end %}
