{% extends "../base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/contacto.css">
{% end %}
{% block body %}
<div class="contenedor-contacto">
	<div class="contenedor-contacto-form">
		<form action="/contact" method="post" class="contacto-form" onsubmit="return ValidateRequired('')" novalidate>
			<h1>Contáctanos</h1>
			<div class="contacto-centrar required">

				<!--  Email  -->
				<p></p>
				<input placeholder="NOMBRE" type="text" name="name" required >


				<!--  Correo  -->
				<p></p>
				<input placeholder="CORREO" type="text" name="email" required>

				<!--  Asunto  -->
				<p></p>
				<input placeholder="ASUNTO" type="text" name="subject" required>

				<textarea placeholder="DÉJANOS TU MENSAJE" name="message"></textarea>

				<button type="submit">ENVIAR</button>
			</div>
		</form>
	</div>
</div>
{% end %}
