{% extends "../base.html" %}
{% block css %}
<link rel="stylesheet" href="/{{nocache_static}}/css/index.css">
<link rel="stylesheet" href="/{{nocache_static}}/css/contacto.css">
{% end %}
{% block body %}
<div class="col-md-6">
	<h1 class="text-center">NUESTRA TIENDA</h1>
	<br>
	<h1 class="text-center">Mall Casa Costanera</h1>
	<h4 class="text-center">Avenida Nueva Costanera 3900, Vitacura-Local 224</h4>
	<p class="text-center"> 2 2486 2026</p>
</div>
<div class=" col-md-6 contenedor-contacto">
	<div class="contenedor-contacto-form">
		<form action="/contact" method="post" class="contacto-form" onsubmit="return ValidateRequired('')" novalidate>
			<h1>Contáctanos</h1>
			<div class="contacto-centrar required">

				<!--  Email  -->
				<p></p>
				NOMBRE <input placeholder="NOMBRE" type="text" name="name" required >


				<!--  Correo  -->
				<p></p>
				CORREO<input placeholder="CORREO" type="text" name="email" required>

				<!--  Asunto  -->
				<p></p>
				ASUNTO<input placeholder="ASUNTO" type="text" name="subject" required>

				MENSAJE<textarea placeholder="DÉJANOS TU MENSAJE" name="message"></textarea>

				<button type="submit">ENVIAR</button>
			</div>
		</form>
	</div>
</div>
<script>
$(".header-menu .contacto").addClass("activo");
</script>
{% end %}
