{% extends "../base.ajax.html" %}

{% block css %}
<link rel="stylesheet" href="/{{nocache_static}}/css/standardize.css">
<link rel="stylesheet" href="/{{nocache_static}}/css/header.css">

<link rel="stylesheet" href="/{{nocache_static}}/css/login.css">

<link rel="stylesheet" href="/{{nocache_static}}/css/footer.css">
<link rel="stylesheet" href="/{{nocache_static}}/css/giani.css">

<link rel="stylesheet" href="/{{nocache_static}}/css/simple_tab.css">
{% end %}

{% block body %}
{% include "login.content.html" %}
{% end %}

{% block javascript %}
<script src="/{{nocache_static}}/js/jquery-min.js"></script>
<script type="text/javascript" src="/{{nocache_static}}/js/simple.tab.js" ></script>
<script type="text/javascript" src="/{{nocache_static}}/js/giani.login.js" ></script>
<script type="text/javascript" src="/{{nocache_static}}/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
<script type="text/javascript" src="/{{nocache_static}}/js/giani_functions.js" ></script>
{% end %}

