{% extends "../base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/standardize.css">
<link rel="stylesheet" href="/static/css/header.css">

<link rel="stylesheet" href="/static/css/login.css">

<link rel="stylesheet" href="/static/css/footer.css">
<link rel="stylesheet" href="/static/css/giani.css">

<link rel="stylesheet" href="/static/css/simple_tab.css">
{% end %}

{% block body %}
{% include "login.content.html" %}
{% end %}

{% block javascript %}
<script src="/static/js/jquery-min.js"></script>
<script type="text/javascript" src="/static/js/simple.tab.js" ></script>
<script type="text/javascript" src="/static/js/giani.login.js" ></script>
{% end %}

