<html>
	<head>

		<script src="/static/js/jquery-min.js"></script>
		<script type="text/javascript" src="/static/js/simple.tab.js" ></script>

		<!-- <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css"> -->
		<link rel="stylesheet" href="/static/css/standardize.css">
		<link rel="stylesheet" href="/static/css/header.css">

		<link rel="stylesheet" href="/static/css/login.css">

		<link rel="stylesheet" href="/static/css/footer.css">
		<link rel="stylesheet" href="/static/css/giani.css">

		<link rel="stylesheet" href="/static/css/simple_tab.css">

	</head>
	<body>

		jdaljdslkajdklsjldalj 

		<script type="text/javascript" >

		// pasar a giani.js
		$(document).ready(function(){

			// repetir password
			$('input[name=password]').change( function(){
				$('input[name=re-password]').attr( "pattern", $(this).val() );
			} );

			// repetir email
			// $('input[name=email]').change( function(){
			//  $('input[name=re-email]').attr( "pattern", $(this).val() );
			// } );

			// login submit
			$( ".form-login" ).submit( function(evt)
			{
				evt.preventDefault();

				var tthis = $(this);

				var data = { "ajax":"true",
							 "email":$("input[name=email]", tthis).val(),
							 "password":$("input[name=password]", tthis).val() };

				$.post( "/auth/login", data, function(rtn){
					if (rtn == "ok") 
					{
						window.parent.document.location.href = "/"; // TODO:poner aqui redirect a pagina anterior
					}
				} );
				return false;
			});

			$( ".form-register" ).submit(function(evt)
			{
				evt.preventDefault();

				var tthis = $( this );
				var data = { "ajax":"true",
							 "name":$("input[name=name]", tthis).val(),
							 "email":$("input[name=email]", tthis).val(),
							 "password":$("input[name=password]", tthis).val(),
							 "re-password":$("input[name=re-password]", tthis).val(),
							 "tos":$("input[name=tos]", tthis).val()}

				$.post( "/auth/registro", data, function(rtn){
					if (rtn == "ok") 
					{
						window.parent.document.location.href = "/";
					}
					else
					{
						alert( rtn );
					}
				});
			});

			$(".parent-link").click(function(evt){
				evt.preventDefault();
				window.parent.document.location.href = $(this).attr( "href" );
			});

		});
		</script>

		<!--<div class="body-login clearfix">-->
			<div class="loginpopup clearfix">
				<div id="tabs-container">
					<ul class="tabs-menu">
						<li class="current"><a href="#tab-1">Tab 1</a></li>
						<li><a href="#tab-2">Tab 2</a></li>
					</ul>
					<div class="tab">
						<div id="tab-1" class="tab-content">
							<div class="reg-strate-login clearfix">
								<form action="/auth/login" method="post" class="form-login">
									<p class="text text-1">LOG IN</p>
									<p class="text text-2">ingresa tu correo *</p>

									<!--  Email  -->
									<input class="_input" placeholder="INGRESAR CORREO" type="email" name="email" required >
									<p class="text text-3">ingresa tu contraseña *</p>

									<!--  Password  -->
									<input class="_input" placeholder="INGRESAR CONTRASEÑA" type="password" name="password" required>
									<p class="text text-4"><a class="parent-link" href="/auth/recuperar-contrasena">olvidé mi contraseña</a></p>
									<label class="radio-label _container clearfix">
										<input class="radio" type="checkbox" name="stay-logged" >
										<span class="point-text"><span>seguir conectado</span></span>
									</label>
									<button class="_button" type="submit">INGRESAR</button>
								</form>
							</div>
							<div class="reg-strate-fb clearfix">
								<p class="tt-tulo-fb">O REGÍSTRATE CON FACEBOOK</p>
								<div class="cont-foto-fb">
									<a href="/auth/facebook" class="element element-2 loginfb parent-link">Facebook</a>
								</div>
							</div>
						</div>
						<div id="tab-2" class="tab-content">
							<div class="reg-strate-correo clearfix">
								<form action="/auth/registro" method="post" class="form-register">
								<p class="text text-5">REGÍSTRATE</p>
								<p class="text text-6">Nombre *</p>

								<!--  Email  -->
								<input class="_input _input-3" placeholder="INGRESAR NOMBRE" type="text" name="name" required >
								<p class="text text-7">repetir correo *</p>

								<!--  Email  -->
								<input class="_input _input-4" placeholder="INGRESAR CORREO" type="email" name="email" required >
								<p class="text text-8">ingresa tu contraseña *</p>

								<!--  Password -->
								<input class="_input _input-5" placeholder="INGRESAR CONTRASEÑA" type="password" name="password" required >
								<p class="text text-9">repetir contraseña *</p>

								<!--  Password -->
								<input class="_input _input-6" placeholder="INGRESAR CONTRASEÑA" type="password" name="re-password" required >
								<label class="aceptar-condiciones clearfix">
									<input class="radio" type="checkbox" name="tos">
									<span class="point-text"><font color="#4d4d4d"><span style="font-size: 12px; line-height: 16px;">Estoy de acuerdo con las condiciones</span></font></span>
								</label>
								<button class="_button" type="submit">COMPLETAR REGISTRO</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!--</div>-->
	</body>
</html>
