<div class="loginpopup clearfix">
	<div id="tabs-container">
		<ul class="tabs-menu">
			<li class="current"><a href="#tab-1">Log in</a></li>
			<li><a href="#tab-2">Registrate</a></li>
		</ul>
		<div class="tab">
			<div id="tab-1" class="tab-content">
				<div class="reg-strate-login clearfix">
					<form action="/auth/login" method="post" class="form-login">
						<p class="text text-2">ingresa tu correo *</p>

						<!--  Email  -->
						<input class="_input" placeholder="INGRESAR CORREO" type="email" name="email" required >
						<p class="text text-3">ingresa tu contraseña *</p>

						<!--  Password  -->
						<input class="_input" placeholder="INGRESAR CONTRASEÑA" type="password" name="password" required>
						<p class="text text-4"><a class="parent-link" href="/auth/recuperar-contrasena">olvidé mi contraseña</a></p>
						<label class="radio-label _container clearfix">
							<input class="radio" type="checkbox" name="stay-logged" >
							<span class="point-text"><span>seguir conectado</span></span>
						</label>
						<button class="_button" type="submit">INGRESAR</button>
					</form>
				</div>
				<div class="reg-strate-fb clearfix">
					<!--<p class="tt-tulo-fb">O REGÍSTRATE CON FACEBOOK</p>-->
					<div class="cont-foto-fb">
						<a href="/auth/facebook" class="element element-2 loginfb parent-link">Facebook</a>
					</div>
				</div>
			</div>
			<div id="tab-2" class="tab-content">
				<div class="reg-strate-correo clearfix">
					<form action="/auth/registro" method="post" class="form-register">
					<p class="text text-6">Nombre *</p>

					<!--  Email  -->
					<input class="_input _input-3" placeholder="INGRESAR NOMBRE" type="text" name="name" required >
					<p class="text text-7">repetir correo *</p>

					<!--  Email  -->
					<input class="_input _input-4" placeholder="INGRESAR CORREO" type="email" name="email" required >
					<p class="text text-8">ingresa tu contraseña *</p>

					<!--  Password -->
					<input class="_input _input-5" placeholder="INGRESAR CONTRASEÑA" type="password" name="password" required >
					<p class="text text-9">repetir contraseña *</p>

					<!--  Password -->
					<input class="_input _input-6" placeholder="INGRESAR CONTRASEÑA" type="password" name="re-password" required >
					<label class="aceptar-condiciones clearfix">
						<input class="radio" type="checkbox" name="tos">
						<span class="point-text"><font color="#4d4d4d"><span style="font-size: 12px; line-height: 16px;">Estoy de acuerdo con las condiciones</span></font></span>
					</label>
					<button class="_button" type="submit">COMPLETAR REGISTRO</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
