<div class="loginpopup clearfix">
	<div id="tabs-container">
		<ul class="tabs-menu">
			<li class="current"><a href="#tab-1">Log in</a></li>
			<li><a href="#tab-2">Registrate</a></li>
		</ul>
		<div class="tab">
			<div id="tab-1" class="tab-content">
				<div class="reg-strate-login clearfix">

					<form action="/auth/login?next={{ url_escape(nxt) }}" method="post" class="form-login">
						<p class="text text-2"></p>

						<!--  Email  -->
						<input class="_input new_input" placeholder="INGRESAR CORREO" type="email" name="email" required >
						<p class="text text-3"></p>

						<!--  Password  -->
						<input class="_input new_input" placeholder="INGRESAR CONTRASEÑA" type="password" name="password" required>
						<p class="text text-4">
							<a class="parent-link" href="/auth/recuperar-contrasena">olvidé mi contraseña</a>
						</p>
						<label class="radio-label _container clearfix">
							<input class="radio" type="checkbox" name="stay-logged" >
							<span class="point-text"><span>seguir conectado</span></span>
						</label>

						<input type="hidden" name="user_id" value="" id="user_id">
						<button class="_button" type="submit">INGRESAR</button>
					</form>
				</div>
				<div class="reg-strate-fb clearfix">
					<a href="/auth/facebook?next={{ url_escape(nxt) }}" class="element element-2 loginfb parent-link"><img class="" src="/{{nocache_static}}/images/loginfacebook.png"></a>
				</div>
			</div>
			<div id="tab-2" class="tab-content">
				<div class="reg-strate-login clearfix">

					<form action="/auth/registro?next={{ url_escape(nxt) }}" method="post" class="form-register">

					<!--  Email  -->
					<input class="_input _input-3 new_input margin-top" placeholder="INGRESAR NOMBRE" type="text" name="name" required >
				

					<!--  Email  -->
					<input class="_input _input-4 new_input margin-top" placeholder="INGRESAR CORREO" type="email" name="email" required >

					<!--  Password -->
					<input class="_input _input-5 new_input margin-top" placeholder="INGRESAR CONTRASEÑA" type="password" name="password" required >

					<!--  Password -->
					<input class="_input _input-6 new_input margin-top" placeholder="REPETIR CONTRASEÑA" type="password" name="re-password" required >
					<label class="aceptar-condiciones clearfix">
						<input class="radio" type="checkbox" name="tos">
						<span class="point-text"><font color="#4d4d4d"><span style="font-size: 12px; line-height: 16px;">Estoy de acuerdo con las condiciones</span></font></span>
					</label>
					<button class="_button" type="submit">COMPLETAR REGISTRO</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="cargando">
	<img class="cargando" src="/{{nocache_static}}/img/loading.gif">
</div>