{% autoescape None %}
<html xmlns=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,100,400" rel="stylesheet" type="text/css">
    <body style="font-size:12px; font-family:Roboto,Open Sans,Roboto,Open Sans, Arial,Tahoma, Helvetica, sans-serif; background-color:#ffffff; ">
        <table width="100%" id="mainStructure" border="0" cellspacing="0" cellpadding="0" style="background-color:#ffffff;">
            <!--START TOP NAVIGATION ​LAYOUT-->
            <tr>
                <td valign="top">
                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                        <!-- START CONTAINER NAVIGATION -->
                        <tbody><tr>
                            <td align="center" valign="top">
                                <!-- start top navigation container -->
                                <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container">
                                    <tbody><tr>
                                        <td valign="top">
                                            <!-- start top navigaton -->
                                            <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">
                                                <!-- start space -->
                                                <tbody><tr>
                                                    <td valign="top" height="20">
                                                    </td>
                                                </tr>
                                                <!-- end space -->
                                                <tr>
                                                    <td valign="middle">
                                                        <table align="center" border="0" cellspacing="0" cellpadding="0" class="container2">
                                                            <tbody><tr>
                                                                <td align="center" valign="top">
                                                                    <a href="#"><img src="{{url_local}}/{{nocache_static}}/images/giani-logo-2-gris-260x119.png" width="250" style="max-width:250px;" alt="Logo" border="0" hspace="0" vspace="0"></a>
                                                                </td>
                                                            </tr>
                                                            <!-- start space -->
                                                            <tr>
                                                                <td valign="top" class="increase-Height-20">
                                                                </td>
                                                            </tr>
                                                            <!-- end space -->
                                                        </tbody></table>
                                                        <!--start content nav -->
                                                        <!--end content nav -->
                                                    </td>
                                                </tr>
                                                <!-- start space -->
                                                <tr>
                                                    <td valign="top" height="20">
                                                    </td>
                                                </tr>
                                                <!-- end space -->
                                            </tbody></table>
                                            <!-- end top navigaton -->
                                        </td>
                                    </tr>
                                </tbody></table>
                                <!-- end top navigation container -->
                            </td>
                        </tr>
                        <!-- END CONTAINER NAVIGATION -->
                    </tbody></table>
                </td>
            </tr>
            <!--END TOP NAVIGATION ​LAYOUT-->
            <!-- START LAYOUT-1/1 -->
            <tr>
                <td align="center" valign="top" class="fix-box">
                    <!-- start  container width 600px -->
                    <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color: #ffffff; ">
                        <tbody><tr>
                            <td valign="top">
                                <!-- start container width 560px -->
                                <table width="540" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;margin-top:10px;">
                                    <!-- start text content -->
                                    <tbody><tr>
                                        <td valign="top">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                                <tbody><tr>
                                                    <td valign="top" width="auto" align="center">
                                                        <!-- start button -->
                                                        <table border="0" align="center" cellpadding="0" cellspacing="0">
                                                            <tbody><tr>
                                                                <td width="auto" align="center" valign="middle" height="28" style=" background-color:#ffffff; border:1px solid #ececed; background-clip: padding-box; font-size:18px; font-family:Roboto,Open Sans, Arial,Tahoma, Helvetica, sans-serif; text-align:center;  color:#a3a2a2; font-weight: 300; padding-left:18px; padding-right:18px; ">
                                                                    <span style="color: #a3a2a2; font-weight: 300;">
                                                                        <a href="#" style="text-decoration: none; color: #a3a2a2; font-weight: 300;">
                                                                            HOLA <span style="color: #FEBEBD; font-weight: 300;">{{name}}</span>
                                                                        </a>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                        <!-- end button -->
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                    <!-- end text content -->
                                </tbody></table>
                                <!-- end  container width 560px -->
                            </td>
                        </tr>
                    </tbody></table>
                    <!-- end  container width 600px -->
                </td>
            </tr>
            <!-- END LAYOUT-1/1 -->
            <!-- START LAYOUT-1/2 -->
            <tr>
                <td align="center" valign="top" class="fix-box">
                    <!-- start  container width 600px -->
                    <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color: #ffffff; ">
                        <tbody><tr>
                            <td valign="top">
                                <!-- start container width 560px -->
                                <table width="540" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">
                                    <!-- start text content -->
                                    <tbody><tr>
                                        <td valign="top">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                                <!-- start text content -->
                                                <tbody><tr>
                                                    <td valign="top">
                                                        <table border="0" cellspacing="0" cellpadding="0" align="center">
                                                            <!--start space height -->
                                                            <tbody><tr>
                                                                <td height="15"></td>
                                                            </tr>
                                                            <!--end space height -->
                                                            <tr>
                                                                <td style="font-size: 13px; line-height: 22px; font-family:Roboto,Open Sans,Arial,Tahoma, Helvetica, sans-serif; color:#a3a2a2; font-weight:300; text-align:center; ">
                                                                    Ha llegado un pedido de {{name}}
                                                                </td>
                                                            </tr>
                                                            <!--start space height -->
                                                            <tr>
                                                                <td height="15"></td>
                                                            </tr>
                                                            <!--end space height -->
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                                <!-- end text content -->
                                                <tr>
                                                    <td valign="top" width="auto" align="center">
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                    <!-- end text content -->
                                    <!--start space height -->
                                    <tr>
                                        <td height="20"></td>
                                    </tr>
                                    <!--end space height -->
                                </tbody></table>
                                <!-- end  container width 560px -->
                            </td>
                        </tr>
                    </tbody></table>
                    <!-- end  container width 600px -->
                </td>
            </tr>
            <!-- END LAYOUT-1/2 -->
            <!-- START LAYOUT-1/2 -->
            <tr>
                <td align="center" valign="top" class="fix-box">
                    <!-- start  container width 600px -->
                    <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color: #ffffff; padding-bottom:20px; ">
                        <tbody><tr>
                            <td valign="top">
                                <!-- start container width 560px -->
                                <table width="540" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">
                                    <!-- start text content -->
                                    <tbody><tr>
                                        <td valign="top">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                                <!-- start text content -->
                                                <tbody><tr>
                                                    <td valign="top">
                                                        <table border="0" cellspacing="0" cellpadding="0" align="center">
                                                            <!--start space height -->
                                                            <tbody><tr>
                                                                <td height="15"></td>
                                                            </tr>
                                                            <!--end space height -->
                                                            <tr>
                                                                <td style="font-size: 13px; line-height: 22px; font-family:Roboto,Open Sans,Arial,Tahoma, Helvetica, sans-serif; color:#a3a2a2; font-weight:300; text-align:center; ">
                                                                </td>
                                                            </tr>
                                                            <!--start space height -->
                                                            <tr>
                                                                <td height="15"></td>
                                                            </tr>
                                                            <!--end space height -->
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                                <!-- end text content -->
                                                <tr>
                                                    <td valign="top" width="auto" align="center">
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                    <!-- end text content -->
                                    <!--start space height -->
                                    <tr>
                                        <td height="20"></td>
                                    </tr>
                                    <!--end space height -->
                                </tbody></table>
                                {{datos_facturacion}}
                                {{datos_despacho}}
                                <table width="540" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;margin-top:20px;"><tbody>
                                    <tr style="font-family: Arial;background-color: #FFFFFF;text-align: center; font-size:12px;">
                                        <th colspan=2 style="line-height: 2.5;height: 30px; border: 1px;border-color: #d6d6d6; border-style: solid; text-align: center;">Datos compra</th>
                                    </tr>
                                </tbody></table>
                                <table width="540" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;"><tbody>
                                    <tr style="font-family: Arial;background-color: #FFFFFF;text-align: center; font-size:12px;">
                                        <th style="line-height: 2.5;height: 30px;border-left: 1px;border-left-color: #d6d6d6; border-left-style: solid;border-bottom: 1px; border-bottom-style: solid;border-bottom-color: #d6d6d6;">Cantidad</th>
                                        <th style="line-height: 2.5;height: 30px;border-left: 1px;border-left-color: #d6d6d6; border-left-style: solid;border-bottom: 1px; border-bottom-style: solid;border-bottom-color: #d6d6d6;">Nombre producto</th>
                                        <th style="line-height: 2.5;margin-right: -1px;height: 30px;border-left: 1px;border-left-color: #d6d6d6; border-left-style: solid; border-bottom: 1px; border-bottom-style: solid;border-bottom-color: #d6d6d6;">Color</th>
                                        <th style="line-height: 2.5;margin-right: -1px;height: 30px;border-left: 1px;border-left-color: #d6d6d6; border-left-style: solid;border-bottom: 1px; border-bottom-style: solid;border-bottom-color: #d6d6d6;">Talla</th>
                                        <th style="line-height: 2.5;margin-right: -1px;height: 30px;border-left: 1px;border-left-color: #d6d6d6; border-left-style: solid;border-bottom: 1px; border-bottom-style: solid;border-bottom-color: #d6d6d6;">Precio</th>
                                        <th style="line-height: 2.5;margin-right: -1px;height: 30px;border-left: 1px;border-left-color: #d6d6d6; border-left-style: solid;border-right: 1px;border-right-color: #d6d6d6; border-right-style: solid;border-bottom: 1px; border-bottom-style: solid;border-bottom-color: #d6d6d6;">Subtotal</th>
                                    </tr>
                                    {{detalle_orden}}
                                </tbody></table>
                                <table width="540" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;margin-top:20px;"><tbody>
                                    <tr style="font-family: Arial;background-color: #FFFFFF;text-align: center; font-size:12px;">
                                        <th colspan=2 style="line-height: 2.5;height: 30px; border: 1px;border-color: #d6d6d6; border-style: solid; text-align: center;">Resumen</th>
                                    </tr>
                                    <tr style="font-family: Arial;background-color: #FFFFFF;text-align: center; font-size:12px;">
                                        <th style="line-height: 2.5;height: 30px;border-left: 1px;border-left-color: #d6d6d6; border-left-style: solid;border-right: 1px;border-right-color: #d6d6d6; border-right-style: solid;border-bottom: 1px; border-bottom-style: solid;border-bottom-color: #d6d6d6;">Subtotal </th>
                                        <td style="line-height: 2.5;margin-left: -1px;height: 30px;border-right: 1px;border-right-color: #d6d6d6; border-right-style: solid;border-bottom: 1px; border-bottom-style: solid;border-bottom-color: #d6d6d6;">$ {{order_subtotal}}</td>
                                    </tr>
                                    <tr style="font-family: Arial;background-color: #FFFFFF;text-align: center; font-size:12px;">
                                        <th style="line-height: 2.5;height: 30px;border-left: 1px;border-left-color: #d6d6d6; border-left-style: solid;border-right: 1px;border-right-color: #d6d6d6; border-right-style: solid;border-bottom: 1px; border-bottom-style: solid;border-bottom-color: #d6d6d6;">Costo de Env&iacute;o</th>
                                        <td style="line-height: 2.5;margin-left: -1px;height: 30px;border-right: 1px;border-right-color: #d6d6d6; border-right-style: solid;border-bottom: 1px; border-bottom-style: solid;border-bottom-color: #d6d6d6;">$ {{costo_despacho}}</td>
                                    </tr>
                                    <tr style="font-family: Arial;background-color: #FFFFFF;text-align: center; font-size:12px;">
                                        <th style="line-height: 2.5;margin-right: -1px;height: 30px;border-left: 1px;border-left-color: #d6d6d6; border-left-style: solid;border-right: 1px;border-right-color: #d6d6d6; border-right-style: solid;border-bottom: 1px; border-bottom-style: solid;border-bottom-color: #d6d6d6;">Total</th>
                                        <td style="line-height: 2.5;margin-left: -1px;height: 30px;border-right: 1px;border-right-color: #d6d6d6; border-right-style: solid;border-bottom: 1px; border-bottom-style: solid;border-bottom-color: #d6d6d6;">$ {{order_total}}</td>
                                    </tr>
                                </tbody></table>
                                <!-- end  container width 560px -->
                            </td>
                        </tr>
                    </tbody></table>
                    <!-- end  container width 600px -->
                </td>
            </tr>
            <!-- END LAYOUT-1/2 -->
            <!--START FOOTER LAYOUT-->
            <tr>
                <td valign="top">
                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                        <!-- START CONTAINER  -->
                        <tbody><tr>
                            <td align="center" valign="top">
                                <!-- start footer container -->
                                <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container">
                                    <tbody><tr>
                                        <td valign="top">
                                            <!-- start footer -->
                                            <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">
                                                <!-- start space -->
                                                <tbody><tr>
                                                    <td valign="top" height="20">
                                                    </td>
                                                </tr>
                                                <!-- end space -->
                                                <tr>
                                                    <td valign="middle">
                                                        <table align="center" border="0" cellspacing="0" cellpadding="0" class="container2">
                                                            <tbody><tr>
                                                                <td align="center" valign="top">
                                                                    <a href="#"><img src="{{url_local}}/{{nocache_static}}/images/giani-logo-2-gris-260x119.png" width="114" style="max-width:114px;" alt="Logo" border="0" hspace="0" vspace="0"></a>
                                                                </td>
                                                            </tr>
                                                            <!-- start space -->
                                                            <tr>
                                                                <td valign="top" class="increase-Height-20">
                                                                </td>
                                                            </tr>
                                                            <!-- end space -->
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                                <!-- start space -->
                                                <tr>
                                                    <td valign="top" height="20">
                                                    </td>
                                                </tr>
                                                <!-- end space -->
                                            </tbody></table>
                                            <!-- end footer -->
                                        </td>
                                    </tr>
                                </tbody></table>
                                <!-- end footer container -->
                            </td>
                        </tr>
                        <!-- END CONTAINER  -->
                    </tbody></table>
                </td>
            </tr>
            <!--END FOOTER ​LAYOUT-->
            <!--  START FOOTER COPY RIGHT -->
            <tr>
                <td align="center" valign="top" style="background-color:#FEBEBD;">
                    <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color:#FEBEBD;">
                        <tbody><tr>
                            <td valign="top">
                                <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color:#FEBEBD;">
                                    <!--start space height -->
                                    <tbody><tr>
                                        <td height="10"></td>
                                    </tr>
                                    <!--end space height -->
                                    <tr>
                                        <!-- start COPY RIGHT content -->
                                        <td valign="top" style="font-size: 13px; line-height: 22px; font-family:Roboto,Open Sans, Arial,Tahoma, Helvetica, sans-serif; color:#ffffff; font-weight:300; text-align:center; ">
                                            GIANI DA FIRENZE 2014 ®
                                        </td>
                                        <!-- end COPY RIGHT content -->
                                    </tr>
                                    <!--start space height -->
                                    <tr>
                                        <td height="10"></td>
                                    </tr>
                                    <!--end space height -->
                                </tbody></table>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
            <!--  END FOOTER COPY RIGHT -->
        </table>
    </table>
</body></html>